{% extends "layouts/latest.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-6">
        Version: {{ version }}
    </h2>

    <p>Account
        <br>&nbsp&nbsp&nbsp<a href="account/start">Start page</a>
        <br>&nbsp&nbsp&nbsp<a href="account/sign-in-gg">Sign in/ sign up</a>
        <br>&nbsp&nbsp&nbsp<a href="account/list-of-licence-applications">Dashboard</a>
    </p>

    <p>Create application
        <br>&nbsp&nbsp&nbsp<a href="create-application/task-list">Task list</a>

        <br><br>&nbsp&nbsp&nbspWhat and when</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/thing-being-moved">What is being moved</a>
        <!--<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/how-many">How many of them</a>-->
        <!--<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/date-one-day">Just on one day</a>-->
        <!--<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-one-day">Date of movement (one day only)</a>-->
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-window-start">Date window start</a>
        <!--<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-window-end">Date window end</a>-->
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspOrigin</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/origin/to-or-from-own-premises">To or from farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere from - <a href="create-application/origin/type-of-origin">Premises type</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere from and own farm - <a href="create-application/origin/origin-farm-cph">CPH of origin farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere from and own farm - <a href="create-application/origin/origin-farm-address">Address of origin farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOwn farm - <a href="create-application/origin/selection-of-own-premises">Select premises </a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOn farm only - <a href="create-application/origin/fifty-percent-warning">50% compensation warning </a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/origin/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspDestination</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/type-of-destination">Premises type</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/destination-farm-cph">CPH of destination farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/market-type">Type of market</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/destination-tb-finishing-unit-cph">CPH of destination TB unit</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOwn farm - <a href="create-application/destination/selection-of-own-premises">Select premises </a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/destination/reason-for-movement">Reason for movement</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIf not restocking - <a href="create-application/destination/any-additional-info">Enter any additional info</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIf restocking - <a href="create-application/destination/quantity-options">More than 75 cattle?</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIf restocking and fewer than 75 - <a href="create-application/destination/quantity-half-herd">More than half the herd</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/destination/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspTests</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIf origin farm is restricted - <a href="create-application/tests/whole-herd-test">Ongoing testing</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIf origin farm is restricted - <a href="create-application/tests/origin-confirmation">Origin Confirmation</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/tests/destination-confirmation">Destination Confirmation</a>

        <br><br>&nbsp&nbsp&nbspBiosecurity</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/biosecurity/kept-separately">Kept separately</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKept separately - <a href="create-application/biosecurity/grazing">Grazed</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKept separately - <a href="create-application/biosecurity/last-grazed">Last grazed</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/biosecurity/upload-plan">Upload a plan</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/biosecurity/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspAnimal identification</a>
        <!--<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/identification/microchipped">Microchipped</a> -->
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/identification/enter-ear-tags">Ear tag numbers</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/identification/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspContact and updates</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspApplicant is unrestricted origin (rare) - <a href="create-application/contact-and-updates/licence-send-to-destination">Info - sending to destination</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRestricted origin - <a href="create-application/contact-and-updates/licence-email-or-post">Email or post</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRestricted origin - <a href="create-application/contact-and-updates/licence-select-email-address">Select email</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRestricted origin - <a href="create-application/contact-and-updates/licence-select-post-address">Select post</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/contact-and-updates/updates-receive">Updates or not</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/contact-and-updates/updates-method">Updates method</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/contact-and-updates/updates-select-email-address">Updates email address</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/contact-and-updates/updates-select-text-number">Updates phone number</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/contact-and-updates/check-answers">Check answers</a>

    </p>




  </div>


{% endblock %}
