{% extends "layouts/pet-travel.html" %}


{% block pageTitle %} What is your address – {{ serviceName }} – GOV.UK {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['error'] == 'p4notselected' %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Select your address from the list</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

{% if data['returnPage'] === '/v26/create/check' %}
    <form
      action="phone"
      method="POST"
    >
    {% else %}
      <form class="form" action="phone" method="post">
    {% endif %}
    <div class="govuk-form-group {% if data['error'] == 'p4notselected' %}govuk-form-group--error{% endif %}">

        <h1 id="documents" class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="postcode">
            What is your address?
          </label>
        </h1>

        <div id="address-hint" class="govuk-hint">
          <p>
            Postcode:
            <strong class="bold-xsmall">{{ data['postcode']}}</strong>&nbsp;&nbsp;<a
              href="./postcode?error="
              >Change</a
            >
          </p>
        </div>

        <div class="govuk-form-group">
          {% if data['error'] == 'p4notselected' %}
          <p id="whereDoYouLive-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select your address from the list
          </p>
          {% endif %}

          <select
            class="govuk-select govuk-!-width-full"
            id="address"
            name="address"
            aria-describedby="address-hint"
          >
                    <option value="empty">52 addresses found</option>
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >214, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >216, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >218, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >220, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >222, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >224, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >226, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >228, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >230, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >232, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >234, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >236, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >238, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >240, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >242, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >244, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >246, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >248, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >250, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >252, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >254, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >256, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >258, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >260, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >262, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >264, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >266, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >268, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >270, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >272, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >274, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >276, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >278, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >280, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >282, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >284, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >286, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >288, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >290, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >292, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >294, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >296, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >298, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >300, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >302, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >304, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >306, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >308, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >310, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >312, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >314, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >
                            <option
                              value="214, LINCOMBE DRIVE, LEEDS, LS8 1QL"
                              >316, LINCOMBE DRIVE, LEEDS, LS8 1QL</option
                            >

          </select>
        </div>


    </div>
        <div class="govuk-form-group">
          {{ govukButton({ text: "Continue" }) }}
          <p>
            <a
              href="/v26/create/owner/address-manual"
              >I cannot find the address in the list</a
            >
          </p>
        </div>

      </form>

  </div>
</div>
{% endblock %}