{% extends "layouts/pet-travel.html" %}

{% block pageTitle %} Taking a different animal to Northern Ireland – {{ serviceName }} – GOV.UK {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 id="documents" class="govuk-heading-xl">
      {# <span class="govuk-caption-xl">{{ serviceName }}</span> #}
      Taking a different animal to Northern Ireland
    </h1>

    <p class="govuk-body">
      The lifelong pet travel document only applies to dogs, cats and ferrets.
    </p>
    <p class="govuk-body">
      The rules are different if you’re <a href="https://www.daera-ni.gov.uk/articles/travelling-pets#toc-16" target="_blank">taking other animals to Northern Ireland</a>.
    </p>
  </div>
</div>
{% endblock %}
