{% extends "layouts/main.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What PLACEHOLDER is being moved?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['what-thing-being-moved-radios'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="thing-being-moved">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many PLACEHOLDER are being moved?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['what-how-many-number-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="how-many">Change<span class="govuk-visually-hidden"> /span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Will you move all the cattle on one day?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['what-date-one-day-radios-yes-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="date-one-day">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            {%  if  data['what-date-one-day-radios-yes-no'] == "Yes"  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What date will you move the cattle?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['what-move-date-one-day-date-input-day'] }} {{ data['what-move-date-one-day-date-input-month-text'] }} {{ data['what-move-date-one-day-date-input-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="move-date-one-day">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
            {%  else  %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the earliest date you'll move some or all of the cattle?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['what-move-date-window-start-date-input-day'] }} {{ data['what-move-date-window-start-date-input-month-text'] }} {{ data['what-move-date-window-start-date-input-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="move-date-window-start">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the last date you'll move some or all of the cattle?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['what-move-date-window-end-date-input-day'] }} {{ data['what-move-date-window-end-date-input-month-text'] }} {{ data['what-move-date-window-end-date-input-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="move-date-window-end">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

            {%  endif  %}


        </dl>


         <form action="../task-list?section-what-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





