{% extends "layouts/v4_0_0.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Select the email address would you like the licence sent to?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select where you did PLACEHOLDER
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#contact-and-updates-licence-enter-email-address-prepop-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="licence-enter-email-address-prepop-router" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "contact-and-updates-licence-enter-email-address-prepop-radios",

                    id: "contact-and-updates-licence-enter-email-address-prepop-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },


                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: data['account-sign-in-gg-email'],
                            text: data['account-sign-in-gg-email'],
                            checked: data['origin-own-farm-new-address-prepop-radios'] == data['account-sign-in-gg-email']
                        } if data['account-sign-in-gg-email'] != undefined  and  data['account-sign-in-gg-email'] != ""   and   data['registrationEmail'] == undefined,
                        {
                            value: data['account-sign-in-gov-one-login-email-text-input'],
                            text: data['account-sign-in-gov-one-login-email-text-input'],
                            checked: data['origin-own-farm-new-address-prepop-radios'] == data['account-sign-in-gov-one-login-email-text-input']
                        } if data['account-sign-in-gov-one-login-email-text-input'] != undefined  and  data['account-sign-in-gov-one-login-email-text-input'] != "",
                        {
                            value: data['registrationNonUkEmail'],
                            text: data['registrationNonUkEmail'],
                            checked: data['contact-and-updates-licence-enter-email-address-prepop-radios'] == data['registrationNonUkEmail']
                        } if data['registrationNonUkEmail'] != undefined  and  data['registrationNonUkEmail'] != "",
                        {
                            value: data['registrationSoleTraderEmail'],
                            text: data['registrationSoleTraderEmail'],
                            checked: data['contact-and-updates-licence-enter-email-address-prepop-radios'] == data['registrationSoleTraderEmail']
                        } if data['registrationSoleTraderEmail'] != undefined  and  data['registrationSoleTraderEmail'] != "",
                        {
                            value: data['registrationCharityEmail'],
                            text: data['registrationCharityEmail'],
                            checked: data['contact-and-updates-licence-enter-email-address-prepop-radios'] == data['registrationCharityEmail']
                        } if data['registrationCharityEmail'] != undefined  and  data['registrationCharityEmail'] != "",
                        {
                            value: data['registrationEmail'],
                            text: data['registrationEmail'],
                            checked: data['contact-and-updates-licence-enter-email-address-prepop-radios'] == data['registrationEmail']
                        } if data['registrationEmail'] != undefined  and  data['registrationEmail'] != "",
                        {
                            value: "Another email address",
                            text: "Another email address",
                            checked: data['contact-and-updates-licence-enter-email-address-prepop-radios'] == "Another email address"
                        }
                    ]
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<!--
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
-->
<!--  END USER TYPE TOGGLE -->



{% endblock %}


