{% extends "layouts/v0_3_0.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        {% include "../includes/destination-cya.html" %}

         <form action="../task-list?section-destination-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





