{% extends "layouts/v2_8_0.html" %}

{% set serviceName = "Get permission to move animals under disease controls" %}

{% set pageHeading = "What’s your telephone number?" %}

{% set pageSection = "Register Defra account" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<span class="govuk-caption-xl">{{ pageSection }}</span>

		<div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
			<h1 class="gem-c-title__text govuk-heading-xl">
				{{ pageHeading }}
			</h1>
		</div>


		{% if data['registrationOrganisationType'] == "charity" %}
			<form method="post" action="task-list-page-charity-details?contact-details-completed=y">
		{% elif data['registrationOrganisationType'] == "Sole trader" %}
			<form method="post" action="business-name">
		{% else %}
			{% if data['registrationAccountType'] == "Individual" %}

				{% if data['registrationAddressUK'] == "Yes" %}	
					<form method="post" action="address/postcode">
				{% else %}
					<form method="post" action="address/add-address-manual">
				{% endif %}
			{% else %}	
				{% if data['userType'] == "Invited"  %}
					<form method="post" action="check-your-answers">
				{% else %}
					<form method="post" action="personal-security">
				{% endif %}
			{% endif %}
		{% endif %}

		<p>We ask for this in case we need to call you directly with any queries about your registration.</p>

			{% if data['registrationAddressUK'] == "Yes" %}
			
				{{ govukInput({
					label: {
						text: title,
						classes: "govuk-label--xl",
						isPageHeading: true
					},				
					classes: "govuk-!-width-two-thirds",			
					type: "tel",
					name: "registrationContactPhonePersonal",
					id: "registrationContactPhonePersonal",
					value: data['registrationContactPhonePersonal']
				}) }}

			{% else %}

				{{ govukInput({
					label: {
						text: title,
						classes: "govuk-label--xl",
						isPageHeading: true
					},
					hint: {
						text:  "For example, 01632 960 000 or 07700 900 982."
					},              					
					classes: "govuk-!-width-two-thirds",			
					type: "tel",
					name: "registrationContactPhonePersonal",
					id: "registrationContactPhonePersonal",
					value: data['registrationContactPhonePersonal']
				}) }}

			{% endif %}
		
    
			{{ govukButton({
				text: "Continue"
			}) }}

    	</form>

  	</div>  	
</div>

{% endblock %}
