.v2_7_0
{
    .defra-account-menu__list
    {
        margin-top: 1em;
        float: right;
        text-align: right;
    }

    .defra-account-menu__list-item
    {
        display: inline-block;
    }
}