{% extends "layouts/latest.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Which map would you like to use?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-reuse-map-radios'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="reuse-map">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            {%  if data['biosecurity-reuse-map-radios']  == "Upload a new map"  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Biosecurity plan diagram
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['biosecurity-upload-plan-file-upload'] }}
                        <br>
                        <br>
                        IMAGE OF UPLOADED MAP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="upload-plan">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>
            {%  endif  %}


        </dl>


         <form action="../../task-list?section-biosecurity-map-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





