{% extends "layouts/v4_0_1_case_management" %}


{% set backlinkoff = 'false' %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Is the destination in a badger control zone?
{% endset %}



{% block content %}
<div class='govuk-grid-row'>

    <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <div class="govuk-!-width-one-half">

            <p>Check system XYZ for the badger control zone.</p>

            <p>User CPH: 3211/875/18</p>


        </div>


        <div class="govuk-button-group">

            {{
                govukButton
                ({
                    text: 'Not in badger control zone',
                    href: '#'
                })
            }}


            {{
                govukButton
                ({
                    text: 'In badger contol zone',
                    classes: "govuk-button--secondary"
                })
            }}

        </div>

    </div>
</div>







{% endblock %}





