{% extends "layouts/v4_0_1_case_management" %}


{% set backlinkoff = 'false' %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Refer to a vet
{% endset %}



{% block content %}
<div class='govuk-grid-row'>

    <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <div class="govuk-!-width-one-half">

            <p>The application has been fully checked.</p>


            <!--
                <p>Do the following steps:</p>

                <ul class='govuk-body govuk-list--bullet'>
                    <li>Download a the TR284 document</li>
                    <li>Fill it in</li>
                    <li>Rename it to 3413/643/09</li>
                    <li>Open the vet allocation tool</li>
                    <li>Enter ABC, XYZ</li>
                    <li>Attach the TR284</li>
                    <li>Return here to mark the case as refered to a vet</li>
                </ul>
            -->

        </div>


        <div class="govuk-button-group govuk-!-margin-top-9">

            {{
                govukButton
                ({
                    text: 'Refer to a vet',
                    href: '../work-with-vets'
                })
            }}

        </div>

    </div>
</div>







{% endblock %}





