{% extends "layouts/v0_4_0.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    {% if  data['application-submitted-and-locked'] == "true"  %}
        Your animal disease movement licence application
    {% else %}
        Check your answers before sending your application
    {% endif %}
{% endset %}



<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {%  if  data['errortypeone'] == "true"  %}
         You need to tick a declaration box
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#check-answers-confirmation-checkboxes"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->



        <h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

        <h2 class="govuk-heading-m">What you plan to move and when</h2>
        {% include "../includes/what-cya.html" %}


        <h2 class="govuk-heading-m">Movement origin</h2>
        {% include "../includes/origin-cya.html" %}


        <h2 class="govuk-heading-m">Movement destination</h2>
        {% include "../includes/destination-cya.html" %}


        <h2 class="govuk-heading-m">Tests and vaccinations</h2>
        {% include "../includes/tests-cya.html" %}

        {%  if     data['origin-to-or-from-own-premises-radios'] == "On to the farm or premises"
                or data['destination-type-of-destination-radios'] == "A farm"  %}

            <h2 class="govuk-heading-m">Biosecurity details</h2>
            {% include "../includes/biosecurity-cya.html" %}


            <h2 class="govuk-heading-m">Biosecurity map</h2>
            {% include "../includes/biosecurity-map-cya.html" %}

        {%  endif  %}




        <h2 class="govuk-heading-m">Contact and updates</h2>
        {% include "../includes/contact-and-updates-cya.html" %}


        {% if  data['application-submitted-and-locked'] != "true"  %}

            <h2 class="govuk-heading-m">Your declaration</h2>

            <p>Before you submit your application, you need to confirm:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>all relevant sections are complete</li>
              <li>all the information given is correct and accurate to the best of your knowledge</li>
            </ul>

            <!-- form URL below turns off errors on the next page  -->
            <form action="check-answers-router" method="post" novalidate>

                {{ govukCheckboxes
                    ({
                        name: "check-answers-confirmation-checkboxes",

                        id: "check-answers-confirmation-checkboxes",

                        fieldset:
                        {
                            legend:
                            {
                                text: "",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--m"
                            }
                        },

                        hint:
                        {
                            text: ""
                        },

                        errorMessage: null if data['errorthispage'] != "true"
                                           else { html: errorTextHTML },

                        items:
                        [
                            {
                                value: "I confirm the above statements",
                                text: "I confirm the above statements",
                                checked: (data['tests-destination-confirmation-checkboxes'] or []).indexOf('I confirm the above statements') > -1
                            },
                            {
                                value: "I am submitting this form on behalf of someone else and confirm the above statements ",
                                text: "I am submitting this form on behalf of someone else and confirm the above statements ",
                                checked: (data['tests-destination-confirmation-checkboxes'] or []).indexOf('I am submitting this form on behalf of someone else and confirm the above statements') > -1
                            }
                        ]
                    })
                }}


                {{ govukButton({ text: "Continue" }) }}


            {% else %}

                {{
                    govukButton
                    ({
                        text: "Go to your applications",
                        href: "../../account/list-of-licence-applications"
                    })
                }}

            {% endif %}


        </form>

    </div>
</div>




<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->


<!-- READ ONLY  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="application-submitted-and-locked=false&"
                {% if  data['application-submitted-and-locked'] != "true"  %}selected{% endif %}
        >Before submission - Editable</option>

        <option value="application-submitted-and-locked=true&"
                {% if  data['application-submitted-and-locked'] == 'true'  %}selected{% endif %}
        >After submission - Read only</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->


{% endblock %}






