{% extends "layouts/v4_0_0.html" %}


<!-- Setting the big main heading at the top of the page -->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    This service is not available for your movement type
{% endset %}



<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

        <p>You should only use this service if you are moving animals off your farm or premises to one of these destination:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>dedicated sale for TB (orange market)</li>
            <li>approved finishing unit (AFU), including enhanced with grazing (AFUE)</li>
        </ul>

        <p>For other movement types, you need to complete and
            <a href="https://www.gov.uk/government/publications/tb-restricted-cattle-application-for-movement-licence-in-england">submit the current application form on GOV.UK</a>.</p>

    </div>
</div>








{% endblock %}


