{% extends "layouts/v4_0_0.html" %}


<!-- Setting the big main heading at the top of the page -->




<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Check if you have a general licence
{% endset %}

<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>

        <p>You should have a general licence in the information pack sent to you from the Animal and Plant Health Agency (APHA). The pack was posted to you when your herd was placed under TB restriction.</p>

        <p>This licence allows you to move animals from a TB restricted farm to slaughter.</p>

        <p>If you do not have a general licence, you can continue to apply for a new one.</p>

        <p><a href="any-additional-info">Continue</a></p>

    </div>
</div>


{% endblock %}


