{% extends 'layouts/main.html' %}

<!--
    NOTES ON USING THIS TEMPLATE Page
    This will save you time.

    1. Type the heading for the page after '% set pageHeadingTextHTML %'
    2. Type the error message after '% set errorTextHTML %'
    3. Type the routes file section after '% set SECTION %'
    4. Type the error message after '% set PAGENAME_MONEY %'
    5. OPTIONAL: Type the hint text after '% set HINT_TEXT %'
    6. OPTIONAL: Change limitations on entry. ZERO_ALLOWED, HIGHEST_NUMBER

    7. Go to the javascript folder 'templates'
    8. Open 'money.js'
    9. Copy into your routes.js file.
    10. Rename PAGENAME_MONEY in the URL to match the page name
    11. Rename THE_NEXT_PAGE_NAME
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    How_much_is_your_PLACEHOLDER?
{% endset %}



<!-- OPTIONAL: Set the zero or negative allowed from 'false' to 'true' if neededs -->
{% set ZERO_ALLOWED %}false{% endset %}

<!-- OPTIONAL: Set the highest number allowed. Include a comma of over 999. Replace the word false below.  e.g. 1,025.00 -->
{% set HIGHEST_NUMBER %}false{% endset %}



<!-- Set the text for each error type -->
{% set errorTextHTML %}
    <!-- Error 1 - No amount entered -->
    {%  if  data['errortypeone'] == 'true'  %}
        Enter the amount of PLACEHOLDER

    <!-- Error 2 - Entry is not a number -->
    {%  elif  data['errortypetwo'] == 'true'  %}
        The amount of PLACEHOLDER must be a number

    <!-- Error 3 - Amount entered is larger than is possible for context -->
    {%  elif  data['errortypethree'] == 'true'  %}
        The amount of PLACEHOLDER must be less than £{{HIGHEST_NUMBER}}

    <!-- Error 4 - Amount entered is 0 or negative -->
    {%  elif  data['errortypefour'] == 'true'  %}
        The amount of PLACEHOLDER must be more than £0

    <!-- Error 5 - Amount of tax entered is higher than amount of income previously entered -->
    {%  elif  data['errortypefive'] == 'true'  %}
        The amount of PLACEHOLDER must be less than £AMOUNT_FROM_PREVIOUS_QUESTION

    {% endif %}
{% endset %}



<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == 'true'  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


<!-- Set the section name -->
{% set SECTION %}templates{% endset %}

<!-- Set the page name -->
{% set PAGENAME_MONEY %}PAGENAME_MONEY{% endset %}

<!-- Set the hint text -->
{% set HINT_TEXT %}PLACEHOLDER_HINT_TEXT{% endset %}



{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == 'true' %}
            {{ govukErrorSummary
                ({
                    titleText: 'There is a problem',
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: '#' + SECTION + '-' + PAGENAME_MONEY + '-money-input'
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <form action='{{PAGENAME_MONEY}}-router/{{PAGENAME_MONEY}}/{{ZERO_ALLOWED}}/{{HIGHEST_NUMBER}}' method='post' novalidate>

            {{
                govukInput
                ({
                    label:
                    {
                        html: pageHeadingTextHTML,
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },

                    id: SECTION + '-' + PAGENAME_MONEY + '-money-input',

                    name: SECTION + '-' + PAGENAME_MONEY + '-money-input',

                    hint:
                    {
                        text: HINT_TEXT
                    } if HINT_TEXT != 'PLACEHOLDER_HINT_TEXT',

                    errorMessage: null if data['errorthispage'] != 'true'
                                       else { html: errorTextHTML },

                    value: data[SECTION + '-' + PAGENAME_MONEY + '-money-input'],

                    prefix:
                    {
                        text: '£'
                    },

                    classes: 'govuk-input--width-5'
                })
            }}


            {{ govukButton({ text: 'Continue' }) }}

            
        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<form method='post'  action='#' class='for4' style='float: left; position: relative; bottom:-300px;'>

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value='errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&'
                {% if  data['errorthispage'] != 'true'  %}selected{% endif %}
        >Errors &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Off</option>

        <option value='errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&'
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] != 'true'  %}selected{% endif %}
        >Error 1 &nbsp;&nbsp;-&nbsp;&nbsp; No amount entered</option>

        <option value='errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&'
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] == 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] != 'true'   %}selected{% endif %}
        >Error 2 &nbsp;&nbsp;-&nbsp;&nbsp; Entry is not a number</option>


        {% if  HIGHEST_NUMBER != 'false'  %}
            <option value='errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=true&errortypefour=false&errortypefive=false&'
                  {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] == 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] != 'true'   %}selected{% endif %}
            >Error 3 &nbsp;&nbsp;-&nbsp;&nbsp; Amount entered is larger than is possible for context</option>
        {% endif %}


        {% if  ZERO_ALLOWED != false  %}
            <option value='errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=true&errortypefive=false&'
                  {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] == 'true'  and  data['errortypefive'] != 'true'   %}selected{% endif %}
            >Error 4 &nbsp;&nbsp;-&nbsp;&nbsp; Amount entered is 0 or negative</option>
        {% endif %}


        <option value='errorthispage=true&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=true&'
              {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and  data['errortypefive'] == 'true'   %}selected{% endif %}
        >Error 5 &nbsp;&nbsp;-&nbsp;&nbsp; Amount entered is higher than a different amount previously entered</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<!--
<form method='post'  action='#' class='for4' style='float: left; position: relative; bottom:-300px;'>

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value='user=citizen&'
                {% if  data['user'] != 'agent'  %} selected {% endif %}
        >User type &nbsp;&nbsp;-&nbsp;&nbsp; Individual</option>

        <option value='user=agent&'
                {% if  data['user'] == 'agent'  %} selected {% endif %}
        >User type &nbsp;&nbsp;-&nbsp;&nbsp; Agent</option>

    </select>

</form>
-->
<!--  END USER TYPE TOGGLE -->





{% endblock %}





