{% extends "layouts/v4_0_0.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Check your answers before you complete the details
{% endset %}






<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% set SECTION %}disease-configurator-general-licence{% endset %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Are there any general licences for
                    {% if  data['disease-configurator-disease-name-text-input'] != ""
                            and data['disease-configurator-disease-name-text-input'] != undefined  %}
                        {{ data['disease-configurator-disease-name-text-input'] }}?
                    {% else %}
                        [ Disease Name ]?
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data[SECTION + '-any-general-licences-radios-yes-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="any-general-licences?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            {% if  data[SECTION + '-any-general-licences-radios-yes-no'] == "Yes" %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select the types of movement covered by general licences for
                        {% if  data['disease-configurator-disease-name-text-input'] != ""
                                and data['disease-configurator-disease-name-text-input'] != undefined  %}
                            {{ data['disease-configurator-disease-name-text-input'] }}?
                        {% else %}
                            [ Disease Name ]?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value" style="white-space: pre-wrap">{{ data[SECTION + '-types-of-movement-checkboxes-formatted'] }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="types-of-movement?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which things are covered by general licences for
                        {% if  data['disease-configurator-disease-name-text-input'] != ""
                                and data['disease-configurator-disease-name-text-input'] != undefined  %}
                            {{ data['disease-configurator-disease-name-text-input'] }}?
                        {% else %}
                            [ Disease Name ]?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value" style="white-space: pre-wrap">{{ data[SECTION + '-things-covered-by-general-licences-checkboxes-formatted'] }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="things-covered-by-general-licences?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                {% if  (data[SECTION + '-things-covered-by-general-licences-checkboxes'] or []).indexOf('Animals') > -1 %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Which animals can move under a general licence for
                            {% if  data['disease-configurator-disease-name-text-input'] != ""
                                    and data['disease-configurator-disease-name-text-input'] != undefined  %}
                                {{ data['disease-configurator-disease-name-text-input'] }}?
                            {% else %}
                                [ Disease Name ]?
                            {% endif %}
                        </dt>
                        <dd class="govuk-summary-list__value" style="white-space: pre-wrap">{{ data[SECTION + '-animals-under-general-licences-checkboxes-formatted'] }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="animals-under-general-licences?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {% endif %}


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which types of origin premises are covered by general licences for
                        {% if  data['disease-configurator-disease-name-text-input'] != ""
                                and data['disease-configurator-disease-name-text-input'] != undefined  %}
                            {{ data['disease-configurator-disease-name-text-input'] }}?
                        {% else %}
                            [ Disease Name ]?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value" style="white-space: pre-wrap">{{ data[SECTION + '-origin-types-general-licences-checkboxes-formatted'] }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="origin-types-general-licences?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which types of destination premises are covered by general licences for
                        {% if  data['disease-configurator-disease-name-text-input'] != ""
                                and data['disease-configurator-disease-name-text-input'] != undefined  %}
                            {{ data['origin-showing-in-loop'] }}?
                        {% else %}
                            [ Disease Name ]?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value" style="white-space: pre-wrap">{{ data[SECTION + '-destination-types-general-licences-checkboxes-formatted'] }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="destination-types-general-licences?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                {% for item in data['origin-destination-matrix-general-licences'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            If the origin premises is
                            {{ data[SECTION + '-origin-types-checkboxes-text-for-general-licences-headings'][loop.index0] }},
                            which destinations are allowed for a movement to take place?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for itemleveltwo in item %}
                                <p>{{ itemleveltwo }}</p>
                            {% endfor %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="change-matrix/{{loop.index0}}">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>
                {% endfor %}


            {% endif %}


        </dl>



        <form action="../task-list?section-general-licences-complete=true&" method="post" novalidate>

            {{ govukButton({ text: "Continue" }) }}

        </form>


        {% if data['changing-exisiting-disease'] %}

            {{
                govukButton
                ({
                    text: "Discard changes",
                    classes: "govuk-button--secondary govuk-!-margin-top-5",
                    href: "disease-list"
                })
            }}

        {% endif %}


    </div>
</div>



{% endblock %}






