{% extends "layouts/v4_0_2" %}

{% set version = "v4_0_2" %}
{% set bodyClasses = version %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    What is the current use or purpose of the animals?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        PLACEHOLDER
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#about-the-movement-cattle-purpose-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="cattle-purpose-router" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "about-the-movement-cattle-purpose-radios",

                    id: "about-the-movement-cattle-purpose-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },

                    hint:
                    {
                        text: ""
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "Breeding",
                            text: "Breeding",
                            checked: data['about-the-movement-cattle-purpose-radios'] == "Breeding"
                        },
                        {
                            value: "Fattening",
                            text: "Fattening",
                            checked: data['about-the-movement-cattle-purpose-radios'] == "Fattening"
                        },
                        {
                            value: "Suckling",
                            text: "Suckling",
                            checked: data['about-the-movement-cattle-purpose-radios'] == "Suckling"
                        },
                        {
                            value: "Dairy",
                            text: "Dairy",
                            checked: data['about-the-movement-cattle-purpose-radios'] == "Dairy"
                        },
                        {
                            value: "Something else",
                            text: "Something else",
                            checked: data['about-the-movement-cattle-purpose-radios'] == "Something else"
                        }
                    ]
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



<!-- USER TYPE TOGGLE  -->
<!--
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="user=citizen&"
                {% if  data['user'] != "agent"  %} selected {% endif %}
        >User type - Individual</option>

        <option value="user=agent&"
                {% if  data['user'] == "agent"  %} selected {% endif %}
        >User type - Agent</option>

    </select>

</form>
-->
<!--  END USER TYPE TOGGLE -->



{% endblock %}


