{% extends "layouts/v0_2_0.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-xl">
                Apply for an animal disease movement licence
            </h1>
        </div>

        <p>It can take up to 5 working days to process and issue a licence.</p>


        <h2  class="govuk-heading-m ">
            Before you start
        </h2>

        <p>You should not apply for a licence if:</p>

        <ul class="govuk-body govuk-list--bullet">
            <li>reactors are still on the farm</li>
            <li>APHA has not received the results from the cattle's tuberculin skin test or interferon-gamma blood test</li>
        </ul>



        <a class="gem-c-button govuk-button govuk-button--start " role="button" rel="external" data-module="govuk-button" draggable="false"
           href="sign-in-gg">
            Start now

          <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>



    </div>


</div>





{% endblock %}
