{% extends "layouts/v2_4_0.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Your animal disease movement licence application
{% endset %}




<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {%  if  data['errortypeone'] == "true"  %}
         You need to tick a declaration box
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}






{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#check-answers-confirmation-checkboxes"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>


        <h2 class="govuk-heading-m">Movement origin</h2>
        {% include "../includes/origin-cya.html" %}


        <h2 class="govuk-heading-m">Movement destination</h2>
        {% include "../includes/destination-cya.html" %}



        <h2 class="govuk-heading-m">Receiving the licence</h2>
        {% include "../includes/contact-and-updates-cya.html" %}


        {%  if   (data['origin-to-or-from-own-premises-radios'] == "On to the farm or premises"
                    and  (data['origin-type-of-origin-radios'] == "TB restricted farm"  or  data['origin-type-of-origin-page-2-radios'] == "Zoo with TB restrictions")
                    and  (data['destination-type-of-destination-radios'] == "TB restricted farm"  or  data['destination-type-of-destination-page-2-radios'] == "Zoo with TB restrictions")
                )
        %}
            <h2 class="govuk-heading-m">Animal identification</h2>
            {% include "../includes/identification-cya.html" %}
        {%  endif  %}


        {%  if  data['origin-to-or-from-own-premises-radios'] == "On to the farm or premises"
                and  data['section-destination-complete'] == "true"
                and  data['destination-type-of-destination-radios'] != "Approved finishing unit (AFU)"
        %}

            <h2 class="govuk-heading-m">Biosecurity details</h2>
            {% include "../includes/biosecurity-cya.html" %}


            <h2 class="govuk-heading-m">Biosecurity map</h2>
            {% include "../includes/biosecurity-map-cya.html" %}

        {%  endif  %}



        <h2 class="govuk-heading-m">Your declaration</h2>

        <p>Before you submit your application, you must select one of the declaration checkboxes.</p>

        <!-- form URL below turns off errors on the next page  -->
        <form action="check-answers-router" method="post" novalidate>

            {{ govukCheckboxes
                ({
                    name: "check-answers-confirmation-checkboxes",

                    id: "check-answers-confirmation-checkboxes",

                    fieldset:
                    {
                        legend:
                        {
                            text: "",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    hint:
                    {
                        text: ""
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "I confirm all the information given about my farm or premises is correct to the best of my knowledge",
                            text: "I confirm all the information given about my farm or premises is correct to the best of my knowledge",
                            checked: (data['check-answers-confirmation-checkboxes'] or []).indexOf('I confirm all the information given about my farm or premises is correct to the best of my knowledge') > -1
                        },
                        {
                            value: "I am submitting this form on behalf of someone else and confirm all the information given is correct to the best of my knowledge",
                            text: "I am submitting this form on behalf of someone else and confirm all the information given is correct to the best of my knowledge",
                            checked: (data['check-answers-confirmation-checkboxes'] or []).indexOf('I am submitting this form on behalf of someone else and confirm all the information given is correct to the best of my knowledge') > -1
                        }
                    ]
                })
            }}



            {{ govukButton({ text: "Submit" }) }}


        </form>

    </div>
</div>

<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-270px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->


{% endblock %}






