{% extends "layouts/main.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Type/customise the error message after '% set errorTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_YES_NO" with whatever you named this page/file.
5. Go to the javascript file 'templates.js' and copy the section 'YES AND NO - RADIO BUTTONS - MANDATORY' into your routes.js file.
6. Follow instructions at the top of the 'templates.js'
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Badgers
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select yes if you PLACEHOLDER between PLACEHOLDER and PLACEHOLDER
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">



        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


        <p>Include details about how badgers are kept away from</p>


        <ul class="govuk-body govuk-list--bullet">
            <li>Feeding troughs</li>
            <li>Water troughs</li>
            <li>Mineral licks</li>
            <li>Feed stores</li>
        </ul>

        <!-- go to routes.js for routing  -->
        <form action="badgers-router" method="post" novalidate>

            {{ govukTextarea
                ({
                    label:
                    {
                        text: "How will you minimise TB contamination from badgers?",
                        classes: "govuk-label--m",
                        isPageHeading: false
                    },

                    id: "biosecurity-badgers-text-input",

                    name: "biosecurity-badgers-text-input",

                    hint:
                    {
                        text: ""
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    value: data['biosecurity-badgers-text-input'],

                    rows: "8"
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>



<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true"
                {% if  data['errortypeone'] == 'true'  %}selected{% endif %}
        >Error 1 - Not selected</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->





{% endblock %}


