{% extends "layouts/latest.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half">
                    Will the incoming cattle be kept separately?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-kept-separately-radios-yes-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="kept-separately">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            {%  if  data['biosecurity-kept-separately-radios-yes-no'] == "Yes"  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the incoming cattle be grazed?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['biosecurity-grazing-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="grazing">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                {%  if data['biosecurity-grazing-radios-yes-no']  == "Yes"  %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            When was the land last grazed by cattle?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-last-grazed-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="last-grazed">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {%  endif  %}


            {%  endif  %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Biosecurity plan diagram
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-upload-plan-file-upload'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="upload-plan">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>




        </dl>


         <form action="../task-list?section-biosecurity-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





