{% extends "layouts/latest.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half">
                    Will the incoming cattle be separated from the resident herd?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-kept-separately-radios-yes-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="kept-separately">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            {%  if  data['biosecurity-kept-separately-radios-yes-no'] == "Yes"  %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the incoming cattle be grazed?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['biosecurity-grazing-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="grazing">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                {%  if data['biosecurity-grazing-radios-yes-no']  == "Yes"  %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            When was the land last grazed by cattle?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-last-grazed-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="last-grazed">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Has any manure or slurry been put on the grazing field in the past 60 days?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-manure-and-slurry-radios-yes-no'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="manure-and-slurry">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How is the grazing field separated from the herd?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-grazing-field-how-separated-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="grazing-field-how-separated">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {%  endif  %}


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the cattle use any roads or tracks that are used by the existing herd?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['biosecurity-roads-and-tracks-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="roads-and-tracks">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                {%  if data['biosecurity-roads-and-tracks-radios-yes-no']  == "Yes"  %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How will road and track contamination be minimised?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-road-and-track-minimise-contamination-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="road-and-track-minimise-contamination">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>
                {%  endif  %}



                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the cattle share any buildings with the existing herd?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['biosecurity-buildings-any-shared-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="buildings-any-shared">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                {%  if data['biosecurity-buildings-any-shared-radios-yes-no']  == "Yes"  %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How will contamination in a building be reduced?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['biosecurity-road-and-track-minimise-contamination-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="buildings-how-minimise-contamination">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>
                {%  endif  %}


            {%  endif  %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How will contamination be minimised from people managing the cattle?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-people-disinfection-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="people-disinfection">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What disinfectant are you using?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-disinfectant-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="disinfectant">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What dilution rate are you using for {{ data['biosecurity-disinfectant-text-input'] }}?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-disinfectant-dilution-number-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="disinfectant-dilution">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How will you minimise TB contamination from badgers?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['biosecurity-badgers-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="badgers">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>



        </dl>


         <form action="../task-list?section-biosecurity-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





