{% extends "layouts/v3_0_1.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-l">
                Get permission to move animals under disease controls
            </h1>
        </div>


        <h3 class="govuk-heading-m">What this service can be used for</h3>

        <p class="govuk-body">You can use this service to apply for a Bovine Tuberculosis (TB) movement licence.</p>

        <p class="govuk-body">Before animals move onto or off a farm or premises with TB restrictions,
        you must apply for a licence with the Animal and Plant Health Agency (APHA).</p>




        <h3 class="govuk-heading-m">Moving animals off a TB restricted farm to go to slaughter</h3>

        <p class="govuk-body">If you are moving animals from a TB restricted farm to slaughter,
            you do not need to use this service to apply for a licence.</p>

        <p class="govuk-body">You should have a general licence in the information pack sent to you from APHA.
            The pack was posted to you when your herd was placed under TB restriction.
        </p>


        <p class="govuk-body">This licence allows you to move animals:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>from a TB restricted farm direct to slaughter</li>
            <li>via a slaughter gathering/ red market (if the licence was issued after 30 September 2024)</li>
        </ul>



        <h3 class="govuk-heading-m">Moving animals onto a TB restricted premises</h3>

        <p class="govuk-body">The service does not currently support moving animals from a TB restricted premises to a
            TB restricted premises. To apply for a licence for this movement type
            <a href="https://www.gov.uk/government/publications/tb-restricted-cattle-application-for-movement-licence-in-england" class="govuk-link">
                complete this GOV.UK application form.
            </a>
        </p>

        <p class="govuk-body">If your farm or premises is not under TB restrictions and animals are moving onto a
            TB restricted farm, it is the responsibility of the TB restricted farm to apply for a licence.
            We need details about their biosecurity practices to process the licence.</p>

        <p class="govuk-body">For more information before you apply for a licence, see the
            <a href="https://www.gov.uk/guidance/bovine-tb-getting-your-cattle-tested-in-england" class="govuk-link">
                Bovine TB: get your cattle tested in England
            </a>
            guidance.
        </p>





        <h3 class="govuk-heading-m">Before you start </h3>

        <p class="govuk-body">Licences cannot be assessed or issued if:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>reactors are still on your farm or premises</li>
            <li>cattle are awaiting skin or blood test results</li>
            <li>TB testing is overdue</li>
        </ul>

        <p class="govuk-body">Contact your vet if you are unsure whether the tests have been sent. If APHA has not received the tests, there could be delays in processing your licence.</p>

        <p class="govuk-body">To apply for a licence, you need the following information:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>name of the County Parish Holding (CPH) owner</li>
            <li>County Parish Holding (CPH) number and address where the animals are moving from</li>
            <li>where the animals are moving to, for example the type of market</li>
            <li>email address to send the licence to</li>
        </ul>

        <p class="govuk-body">It can take up to 5 working days to process your application. It may take longer if veterinary checks are required, or we need further information. </p>



        <h3 class="govuk-heading-m">Get help</h3>

        <p class="govuk-body">If you need help using the service you can call 03000 200 301 and choose the option for TB licencing. Lines are open from Monday to Friday between 8.30am and 5pm.</p>


        <a class="gem-c-button govuk-button govuk-button--start " role="button" rel="external" data-module="govuk-button" draggable="false"
           href="start-router">
            Start now
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>


        <h3 class="govuk-heading-m">Give feedback</h3>

        <p class="govuk-body">Your feedback will help improve this service. You can give feedback by
            <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_7ZDFNwIA2wLF9lk" class="govuk-link" target="_blank">completing a short survey (opens in new tab)</a>. </p>

        <p class="govuk-body">You can also find the survey link on the:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>feedback banner at the top of the page throughout the service </li>
            <li>confirmation page once you complete your application </li>
        </ul>


    </div>


</div>




{% endblock %}
