{% extends "layouts/v3_0_3.html" %}


<!-- Setting the big main heading at the top of the page -->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    This service is not available for your movement type
{% endset %}



<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

        <p>This service does not allow movements onto your premises from approved finishing unit (AFU) unless your premises is an AFU.</p>

    </div>
</div>








{% endblock %}


