{% extends "layouts/pet-travel.html" %}

{% block pageTitle %} Get your pet microchipped before applying – {{ serviceName }} – GOV.UK {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 id="documents" class="govuk-heading-xl">
      {# <span class="govuk-caption-xl">{{ serviceName }}</span> #}
      Get your pet microchipped before applying
    </h1>
    <p class="govuk-body"> Your pet dog, cat or ferret must be fitted with a microchip before you can apply for a lifelong pet travel document.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/get-your-dog-cat-microchipped" target="_blank">Check how to get your pet microchipped (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      <a target="_blank" href="../../end_of_transaction_survey" class="govuk-link">What did you think of this service?</a>
      (takes 30 seconds)
    </p> 
    
   
  </div>
</div>
{% endblock %}