{% extends "layouts/v1_0_0.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Your animal disease movement licence application
{% endset %}




<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {%  if  data['errortypeone'] == "true"  %}
         You need to tick a declaration box
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}






{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#check-answers-confirmation-checkboxes"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>


        <h2 class="govuk-heading-m">Movement origin</h2>
        {% include "../includes/origin-cya.html" %}


        <h2 class="govuk-heading-m">Movement destination</h2>
        {% include "../includes/destination-cya.html" %}


        <h2 class="govuk-heading-m">Tests</h2>
        {% include "../includes/tests-cya.html" %}



        <h2 class="govuk-heading-m">Contact and updates</h2>
        {% include "../includes/contact-and-updates-cya.html" %}



        <h2 class="govuk-heading-m">Your declaration</h2>

        <p>Before you submit your application, you need to confirm:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>all relevant sections are complete</li>
          <li>all the information given is correct and accurate to the best of your knowledge</li>
        </ul>

        <!-- form URL below turns off errors on the next page  -->
        <form action="check-answers-router" method="post" novalidate>

            {{ govukCheckboxes
                ({
                    name: "check-answers-confirmation-checkboxes",

                    id: "check-answers-confirmation-checkboxes",

                    fieldset:
                    {
                        legend:
                        {
                            text: "",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },

                    hint:
                    {
                        text: ""
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "I confirm the above statements",
                            text: "I confirm the above statements",
                            checked: (data['check-answers-confirmation-checkboxes'] or []).indexOf('I confirm the above statements') > -1
                        },
                        {
                            value: "I am submitting this form on behalf of someone else and confirm the above statements ",
                            text: "I am submitting this form on behalf of someone else and confirm the above statements ",
                            checked: (data['check-answers-confirmation-checkboxes'] or []).indexOf('I am submitting this form on behalf of someone else and confirm the above statements') > -1
                        }
                    ]
                })
            }}



            {{ govukButton({ text: "Continue" }) }}


        </form>

    </div>
</div>


{% endblock %}






