{% extends "layouts/v2_6_0.html" %}


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Invalid application type
{% endset %}




<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">{{ pageHeadingTextHTML }}</h1>

        <p>You can't move  animals from the multiple origins under a single application.</p>

        <p>You'll need to apply for separately for each.</p>


        <!-- go to routes.js for routing  -->
        <form action="type-of-origin-on" method="post" novalidate>

            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>








{% endblock %}


