{% extends "layouts/v4_0_2.html" %}

{% set pageName="Home" %}

{% set loggedout = "true" %}
{% set backlinkoff = "true" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-l">
                Get permission to do things during an outbreak of {{ data['disease-configurator-name-of-disease-text-input'] }}
            </h1>
        </div>



        <p class="govuk-body">Placeholder Placeholder Placeholder Placeholder Placeholder.</p>

        <p class="govuk-body">Placeholder Placeholder Placeholder Placeholder Placeholder.</p>

        <p class="govuk-body">Placeholder Placeholder Placeholder Placeholder Placeholder.</p>

        <p class="govuk-body">Placeholder.</p>




        <a class="gem-c-button govuk-button govuk-button--start " role="button" rel="external" data-module="govuk-button" draggable="false"
           href="task-list">
            Start now
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>


        <h3 class="govuk-heading-m">Using and sharing your information</h3>




        <h3 class="govuk-heading-m">Get help</h3>

        <p class="govuk-body">If you need help using the service you can call 03000 200 301 and choose the option for TB licencing. Lines are open from Monday to Friday between 8.30am and 5pm.</p>



        <h3 class="govuk-heading-m">Give feedback</h3>



    </div>


</div>




{% endblock %}
