<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
            Are you moving the animals on or off your farm or premises?
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['origin-to-or-from-own-premises-radios'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../origin/to-or-from-own-premises">Change<span class="govuk-visually-hidden"> </span></a>
        </dd>
    </div>


    {%  if  data['origin-to-or-from-own-premises-radios'] == "On to the farm or premises"   %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which type of premises are the animals moving off?
            </dt>
            <dd class="govuk-summary-list__value" style="white-space: pre-wrap;">{{ data['origin-type-of-origin-on-checkboxes-formatted'] }}</dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/type-of-origin-on">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        {%  if  data['origin-type-of-origin-on-checkboxes'] == "Another TB restricted origin"   %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What type of premises are the animals moving off?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['origin-type-of-origin-other-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../origin/type-of-origin-other?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

        {%  endif  %}


            {%  if    (data['origin-type-of-origin-on-checkboxes'] or []).indexOf('Unrestricted market') > -1
                   or (data['origin-type-of-origin-on-checkboxes'] or []).indexOf('Unrestricted farm or premises') > -1
            %}

            <!-- No data needed form the user -->


            {%  else  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        {% if data['origin-type-of-origin-page-2-radios'] == "Location after animals have been imported" %}
                            What is the County Parish Holding (CPH) number of the UK point of entry?
                        {% else %}
                            What is the County Parish Holding (CPH) number of the farm or premises where the animals are moving off?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['origin-origin-farm-cph-text-input'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../origin/origin-farm-cph?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-font-weight-regular">
                        {% if data['origin-type-of-origin-page-2-radios'] == "Location after animals have been imported" %}
                            What is the address of the UK point of entry?
                        {% else %}
                            What is the address of the farm or premises where the animals are moving off?
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['origin-origin-farm-address-line-1'] }}<br>
                        {{ data['origin-origin-farm-address-line-2'] }}<br>
                        {{ data['origin-origin-farm-address-town'] }}<br>
                        {{ data['origin-origin-farm-address-county'] }}<br>
                        {{ data['origin-origin-farm-address-postcode'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../origin/origin-farm-address">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


            {%  endif  %}


    {%  else  %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which type of premises are the animals moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-type-of-origin-off-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/type-of-origin-off">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        {%  if  data['origin-type-of-origin-off-radios'] == "Another TB restricted origin"   %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What type of premises are the animals moving off?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['origin-type-of-origin-other-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../origin/type-of-origin-other?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

        {%  endif  %}




        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                What is the County Parish Holding (CPH) number of your farm or premises where the animals are moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-own-farm-new-cph-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/own-farm-new-cph?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-font-weight-regular">
                What is the address of your farm or premises where the animals are moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-own-address-line-1'] }}<br>
                {{ data['origin-own-address-line-2'] }}<br>
                {{ data['origin-own-address-town'] }}<br>
                {{ data['origin-own-address-county'] }}<br>
                {{ data['origin-own-address-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/own-farm-new-address">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

    {%  endif  %}












</dl>