{% extends "layouts/v3_0_0" %}

{% set version = "v3_0_0" %}
{% set bodyClasses = version %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Where are the
    {% if  data['disposal-of-animal-whole-animal-radios-yes-no'] == "Yes"  %}
        carcasses
    {% else %}
        animal by-products
    {% endif %}
    going?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select where the
        {% if  data['disposal-of-animal-whole-animal-radios-yes-no'] == "Yes"  %}
            carcasses
        {% else %}
            animal by-products
        {% endif %}
        are going
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#disposal-of-animal-premises-type-radios"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="premises-type-router" method="post" novalidate>

            {{ govukRadios
                ({
                    name: "disposal-of-animal-premises-type-radios",

                    id: "disposal-of-animal-premises-type-radios",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },

                    hint:
                    {
                        text: ""
                    },

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    items:
                    [
                        {
                            value: "Knacker's yard",
                            text: "Knacker's yard",
                            checked: data['disposal-of-animal-premises-type-radios'] == "Knacker's yard"
                        },
                        {
                            value: "Rendering plant",
                            text: "Rendering plant",
                            checked: data['disposal-of-animal-premises-type-radios'] == "Rendering plant"
                        },
                        {
                            value: "Incinerator",
                            text: "Incinerator",
                            checked: data['disposal-of-animal-premises-type-radios'] == "Incinerator"
                        },
                        {
                            value: "Hunt kennel",
                            text: "Hunt kennel",
                            checked: data['disposal-of-animal-premises-type-radios'] == "Hunt kennel"
                        },
                        {
                            value: "Somewhere else",
                            text: "Somewhere else",
                            checked: data['disposal-of-animal-premises-type-radios'] == "Somewhere else"
                        }
                    ]
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
                {% if (data['errorthispage'] != "true") %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
                {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
        >Error 1 - Must select at least one</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->





{% endblock %}


