<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half  govuk-!-font-weight-regular">
            What is your full name?
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['contact-and-updates-licence-name-text-input'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../contact-and-updates/licence-name?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
        </dd>
    </div>


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half  govuk-!-font-weight-regular">
            How would you like this licence sent to you?
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['contact-and-updates-licence-email-or-post-radios'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../contact-and-updates/licence-email-or-post">Change<span class="govuk-visually-hidden"> </span></a>
        </dd>
    </div>


    {%  if  data['contact-and-updates-licence-email-or-post-radios'] == "Email"  %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                What email address would you like the licence sent to?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['contact-and-updates-licence-enter-email-address-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../contact-and-updates/licence-enter-email-address">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

    {%  else  %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                What address would you like the licence sent to?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['contact-and-updates-licence-select-post-address-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../contact-and-updates/licence-select-post-address">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

        {%  if  data['contact-and-updates-licence-select-post-address-radios'] == "Another address"  %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-font-weight-regular">
                    Enter the address would you like the licence sent to
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['contact-and-updates-licence-new-address-line-1'] }}<br>
                    {{ data['contact-and-updates-licence-new-address-line-2'] }}<br>
                    {{ data['contact-and-updates-licence-new-address-town'] }}<br>
                    {{ data['contact-and-updates-licence-new-address-county'] }}<br>
                    {{ data['contact-and-updates-licence-new-address-postcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../contact-and-updates/licence-new-address">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

        {%  endif  %}

    {%  endif  %}



</dl>
