{% extends "layouts/v3_0_1.html" %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Do you have a date booked to remove the reactors?
{% endset %}


<!-- Set the text for the error type -->
{% set errorTextHTML %}
    <!-- Nothing was selected -->
    {% if data['errortypeone'] == "true" %}
        Select if you have a date booked to remove the reactors
    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#reactors-any-date-to-remove-reactors-radios-yes-no"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->


        <!-- go to routes.js for routing  -->
        <form action="any-date-to-remove-reactors-router" method="post" novalidate>

            {{ govukRadios
                ({
                    classes: "govuk-radios--inline",

                    name: "reactors-any-date-to-remove-reactors-radios-yes-no",

                    id: "reactors-any-date-to-remove-reactors-radios-yes-no",

                    fieldset:
                    {
                        legend:
                        {
                            html: pageHeadingTextHTML,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },

                    hint:
                    {
                        text: ""
                    },

                    items:
                    [
                        {
                            value: "Yes",
                            text: "Yes",
                            checked: data['reactors-any-date-to-remove-reactors-radios-yes-no'] == "Yes"
                        },
                        {
                            value: "No",
                            text: "No",
                            checked: data['reactors-any-date-to-remove-reactors-radios-yes-no'] == "No"
                        }
                    ],

                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML }
                })
            }}


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>



<!-- ERROR LOGIC  drop down to toggle states  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true"
                {% if  data['errortypeone'] == 'true'  %}selected{% endif %}
        >Error 1 - Not selected</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->



{% endblock %}


