{% extends "layouts/v3_0_1" %}

{% set version = "v3_0_1" %}
{% set bodyClasses = version %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        <dl class="govuk-summary-list">

            <dl class="govuk-summary-list">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        Will you dispose of the whole animal?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['disposal-of-animal-whole-animal-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="whole-animal?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        What date do you expect the disposal from the premises?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data['disposal-of-animal-date-of-disposal-date-input-day']  }}
                        {{  data['disposal-of-animal-date-of-disposal-date-input-month-text']  }}
                        {{  data['disposal-of-animal-date-of-disposal-date-input-year']  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="date-of-disposal?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        Where are the
                        {% if  data['disposal-of-animal-whole-animal-radios-yes-no'] == "Yes"  %}
                            carcasses
                        {% else %}
                            animal by-products
                        {% endif %}
                        going?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['disposal-of-animal-premises-type-radios'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="premises-type?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        What is the destination's business name?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['disposal-of-animal-destination-business-name-text-input'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="destination-business-name?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        What is the contact phone number of the destination business?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['disposal-of-animal-destination-contact-number-text-input'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="destination-contact-number?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        Does the destination premises have a county parish holding (CPH) number?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['disposal-of-animal-cph-number-yes-no-radios-yes-no'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="cph-yes-no?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


                {%  if  data['disposal-of-animal-cph-number-yes-no-radios-yes-no']  == "Yes"  %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                            What is the county parish holding (CPH) number for the destination premises?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['disposal-of-animal-cph-number-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="cph-number">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {%  endif  %}


            </dl>

        </dl>


        <form action="../task-list?section-fmd-disposal-of-animal-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}





