{% extends "layouts/v4_0_2" %}

{% set version = "v4_0_2" %}
{% set bodyClasses = version %}

{% set loggedout = "true" %}
{% set backlinkoff = "true" %}

<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Your animal disease movement licence application
{% endset %}



<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {{ pageHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-0">
    <div class="govuk-!-width-full">

        <div class="govuk-!-margin-0">

            <div class="govuk-!-margin-0">




                <div id=":o9" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgzMjE5NjEzMzI5MTg1MDIyMiJd; 4:WyIjbXNnLWY6MTgzMjE5NjEzMzI5MTg1MDIyMiIsbnVsbCxudWxsLG51bGwsMSwwLFsxLDAsMF0sNDI5LDI2OTMsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDEsbnVsbCxudWxsLFswXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwwXQ..">
                    <div id=":o8" class="a3s aiL msg8341621475648439187">
                        <div lang="EN-GB" link="blue" vlink="purple" style="word-wrap:break-word">
                            <div class="m_8341621475648439187WordSection1">





<div >


<div align="center">
<table border="0" cellspacing="0" cellpadding="0" style="max-width:435.0pt;border-collapse:collapse;box-sizing:border-box;border-spacing:0px">
<tbody>
<tr style="height:7.5pt">
<td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
<td style="padding:0cm 0cm 0cm 0cm;height:7.5pt">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;box-sizing:border-box;border-spacing:0px">
<tbody>
<tr style="height:7.5pt">
<td width="100%" style="width:100.0%;background:#1d70b8;padding:0cm 0cm 0cm 0cm;height:7.5pt">
</td>
</tr>
</tbody>
</table>
</td>
<td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
</tr>
</tbody>
</table>
</div>
<p class="MsoNormal" align="center" style="text-align:center"><span style="display:none"><u></u>&nbsp;<u></u></span></p>
<div align="center">
<table border="0" cellspacing="0" cellpadding="0" style="max-width:435.0pt;border-collapse:collapse;box-sizing:border-box;border-spacing:0px">
<tbody>

<tr>

<td style="padding:0cm 0cm 0cm 0cm">
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Dear Alex Smith,</span><u></u><u></u></p>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Application reference number:  TB-6F2V-VDK0</span><u></u><u></u></p>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">We have received your Bovine Tuberculosis (TB) movement licence application.</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What happens next </span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">It can take up to 5 working days to process your application. It may take longer if veterinary checks are required, or we need
 further information.</span><u></u><u></u></p>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">We will contact you if we need any further information.</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">How to contact us</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c"> This is an automated email. If you have any questions about your application, please contact the Animal and Plant Health Agency
 (APHA):</span><u></u><u></u></p>
<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;box-sizing:border-box;border-spacing:0px">
<tbody>
<tr>
<td style="padding:0cm 0cm 15.0pt 0cm">
<p style="margin-right:0cm;margin-bottom:3.75pt;margin-left:51.0pt;line-height:18.75pt">
<span style="font-size:10.0pt;font-family:Symbol;color:#0b0c0c">·</span><span style="font-size:7.0pt;font-family:&quot;Times New Roman&quot;,serif;color:#0b0c0c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Telephone: 03000 200 301</span><span style="font-size:10.0pt"><u></u><u></u></span></p>
<p style="margin-right:0cm;margin-bottom:3.75pt;margin-left:51.0pt;line-height:18.75pt">
<span style="font-size:10.0pt;font-family:Symbol;color:#0b0c0c">·</span><span style="font-size:7.0pt;font-family:&quot;Times New Roman&quot;,serif;color:#0b0c0c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Email: 
<a href="mailto:CSC.TBlicensing@apha.gov.uk" target="_blank">CSC.TBlicensing@apha.gov.uk</a></span><span style="font-size:10.0pt"><u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
<h2 style="margin-bottom:11.25pt;line-height:26.25pt"><span style="font-size:20.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Your application details</span><u></u><u></u></h2>
<div style="margin-bottom:22.5pt">
<div class="MsoNormal" align="center" style="text-align:center">
<hr size="2" width="100%" align="center">
</div>
</div>
<h2 style="margin-bottom:11.25pt;line-height:26.25pt"><span style="font-size:20.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Movement origin</span><u></u><u></u></h2>
<div style="margin-bottom:22.5pt">
<div class="MsoNormal" align="center" style="text-align:center">
<hr size="2" width="100%" align="center">
</div>
</div>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Are you moving the animals on or off your farm or premises?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Off the farm or premises</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What type of premises are the animals moving off?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">TB restricted farm</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What is the County Parish Holding (CPH) number of your farm or premises where the animals are moving off?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">12/345/6789</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What is the address of your farm or premises where the animals are moving off?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Starfleet Headquarters<br>
San Franciso<br>
N11 1NN</span><u></u><u></u></p>
<h2 style="margin-bottom:11.25pt;line-height:26.25pt"><span style="font-size:20.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Movement destination</span><u></u><u></u></h2>
<div style="margin-bottom:22.5pt">
<div class="MsoNormal" align="center" style="text-align:center">
<hr size="2" width="100%" align="center">
</div>
</div>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Where are the animals going to?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Slaughter</span><u></u><u></u></p>
<h2 style="margin-bottom:11.25pt;line-height:26.25pt"><span style="font-size:20.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Receiving the licence</span><u></u><u></u></h2>
<div style="margin-bottom:22.5pt">
<div class="MsoNormal" align="center" style="text-align:center">
<hr size="2" width="100%" align="center">
</div>
</div>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What is the name of the registered owner of the cattle?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">John Doe</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">How would you like this licence sent to you?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Email</span><u></u><u></u></p>
<h3 style="margin-bottom:11.25pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">What email address would you like the licence sent to?</span><u></u><u></u></h3>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c"><a href="mailto:x.y@esynergy.co.uk" target="_blank">alex.smith@esynergy.co.uk</a></span><u></u><u></u></p>
<p style="margin-bottom:15.0pt;line-height:18.75pt"><span style="font-size:14.5pt;font-family:&quot;Helvetica&quot;,sans-serif;color:#0b0c0c">Regards,<br>
 <br>
Animal and Plant Health Agency (APHA)</span><u></u><u></u></p>
</td>
<td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr style="height:22.5pt">
<td style="padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
<td style="padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
<td style="padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;<span style="font-size:10.0pt"><u></u><u></u></span></p>
</div>
</div>

</div>

                        <div class="yj6qo"></div><div class="adL">

</div></div></div>




            </div>

        </div>

    </div>
</div>






{% endblock %}






