{% extends "layouts/v4_0_0" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Put your question heading for the page after '% set questionHeadingTextHTML %'
3. Type/customise the error messages after '% set errorTextHTML %'
4. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
5. Use 'Find and replace' to replace "PAGENAME_TEXT" with whatever you named this page/file.
6. Go to the javascript file 'templates.js' and copy the section 'COMPLEX PAGE  OF TEXT ENTRY' into your routes.js file.
7. Follow instructions at the top of the 'templates.js'.
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Enter your email address to sign in to your GOV.UK One Login
{% endset %}


<!-- Set the text for each error type -->
{% set errorTextHTML %}
    <!-- Error 1 - No answer selected -->
    {% if data['errortypeone'] == "true" %}
        Enter your PLACEHOLDER

    <!-- Error 2 - If answer is too long -->
    {% elif data['errortypetwo'] == "true" %}
        PLACEHOLDER must be MAXIMUM_NUMBER characters or fewer

    <!-- Error 3 - If answer is too short -->
    {% elif data['errortypethree'] == "true" %}
        PLACEHOLDER must be MINIMUM_NUMBER characters or more

    <!-- Error 4 - If answer has characters that aren't allowed and you know what the characters are -->
    {% elif data['errortypefour'] == "true" %}
        PLACEHOLDER must not include  {{ data['dissallowedcharacters'] }} [LIST_THE_CHARACTERS_USED]

    {% endif %}
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ questionHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#account-sign-in-gov-one-login-email-text-input"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->




        <!-- go to routes.js for routing  -->
        <form action="sign-in-gov-one-login-password" method="post" novalidate>

            {{ govukInput
                ({
                    label:
                    {
                        html: pageHeadingTextHTML,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },

                    id: "account-sign-in-gov-one-login-email-text-input",

                    name: "account-sign-in-gov-one-login-email-text-input",


                    errorMessage: null if data['errorthispage'] != "true"
                                       else { html: errorTextHTML },

                    value: data['account-sign-in-gov-one-login-email-text-input'],

                    classes: ""
                })
            }}


            {{ govukButton({ text: "Continue" }) }}


        </form>

    </div>
</div>





{% endblock %}





