{% extends "layouts/v2_6_0.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Type/customise the error messages after '% set errorTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_TEXT" with whatever you named this page/file.
5. Go to the javascript file 'templates.js' and copy the section 'TEXT ENTRY - MANDATORY' into your routes.js file.
6. Follow instructions at the top of the 'templates.js'.
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Disinfectant
{% endset %}


<!-- Set the text for each error type -->
<!-- Error 1 - No answer selected -->
{% set errorTextHTML %}

    {% if data['errortypeone'] == "true" %}
        Enter the first 3 letters of the disinfectant you are using
    {% endif %}

    {% if data['errortypetwo'] == "true" %}
        This disinfectant is not Defra-approved. Check the approved disinfectants section and re-enter
    {% endif %}

{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {{ pageHeadingTextHTML }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <!-- ERROR LOGIC 'error summary' -->
        {% if data['errorthispage'] == "true" %}
            {{ govukErrorSummary
                ({
                    titleText: "There is a problem",
                    errorList:
                    [
                        {
                            html: errorTextHTML,
                            href: "#biosecurity-disinfectant-type-ahead"
                        }
                    ]
                })
            }}
        {% endif %}
        <!--  END OF 'error summary' -->



        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


        <p>You must use a Defra-approved disinfectant for TB.</a></p>


        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View approved disinfectants
                </span>
            </summary>
            <div class="govuk-details__text">

                <ul class="govuk-body govuk-list--bullet">
                    <li>Agrichlor</li>
                    <li>Anigene NaDCC</li>
                    <li>Anigene Professional Chlorine Tablets</li>
                    <li>Aquatabs 8.68g</li>
                    <li>Bi-OO-Cyst</li>
                    <li>Bimodex</li>
                    <li>BioChlor 200</li>
                    <li>BioChlor 500</li>
                    <li>Biocid 30</li>
                    <li>BioPhen Xtra</li>
                    <li>BIOSPOT</li>
                    <li>Coxicur</li>
                    <li>Credence 1000</li>
                    <li>Dis-In-Fect</li>
                    <li>FAM 30</li>
                    <li>High Power Sanitising Tablets 3.25g</li>
                    <li>Interkokask</li>
                    <li>Interkokask Concentrate</li>
                    <li>Iodo-Pharm</li>
                    <li>Mida CHRIOX F2</li>
                    <li>Mira 30</li>
                    <li>MS MEGADES OXY D</li>
                    <li>NEOGEN Farm Fluid MAX</li>
                    <li>Novagen F.P.</li>
                    <li>OmniChlor Plus</li>
                    <li>Prophyl S</li>
                    <li>Rapicid</li>
                    <li>Septrivet 17</li>
                    <li>Septrivet 87 8.68g</li>
                    <li>Stable Safe Strength 4.72g Tablets</li>
                    <li>Tibicur</li>
                    <li>Total Farm Disinfectant</li>
                    <li>V18</li>
                    <li>Virkon® LSP</li>
                    <li>Virochlor 500</li>
                    <li>Virophor 2.8%</li>
                    <li>Virudine Plus</li>
                </ul>

            </div>
        </details>


        <!-- go to routes.js for routing  -->
        <form action="disinfectant-router" method="post" novalidate>


            {%  if  data['errorthispage'] == "true"  %}
                <div class="govuk-form-group--error">
            {% else %}
                <div class="govuk-form-group">
            {% endif %}

                <label class="govuk-label govuk-label--m" for="biosecurity-disinfectant-type-ahead">
                    What disinfectant are you using?
                </label>


                {%  if  data['errorthispage'] == "true"  %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ errorTextHTML }}
                    </p>
                {% endif %}

                <div style="width: 300px;">

                        {%  if  data['errorthispage'] == "true"  %}
                            <div class="govuk-form-group autocomplete-wrapper" style="border:  2px solid red;">
                        {% else %}
                            <div class="govuk-form-group autocomplete-wrapper">
                        {% endif %}


                                <!-- the name/id of the selector below is what he country will be saved as in session data -->
                                <select class="govuk-select" id="biosecurity-disinfectant-type-ahead" name="biosecurity-disinfectant-type-ahead" >
                                    <option value=""></option>
                                    <option value="Agrichlor">Agrichlor</option>
                                    <option value="Anigene NaDCC">Anigene NaDCC</option>
                                    <option value="Anigene Professional Chlorine Tablets">Anigene Professional Chlorine Tablets</option>
                                    <option value="Aquatabs 8.68g">Aquatabs 8.68g</option>
                                    <option value="Bi-OO-Cyst">Bi-OO-Cyst</option>
                                    <option value="Bimodex">Bimodex</option>
                                    <option value="BioChlor 200">BioChlor 200</option>
                                    <option value="BioChlor 500">BioChlor 500</option>
                                    <option value="Biocid 30">Biocid 30</option>
                                    <option value="BioPhen Xtra">BioPhen Xtra</option>
                                    <option value="BIOSPOT">BIOSPOT</option>
                                    <option value="Coxicur">Coxicur</option>
                                    <option value="Credence 1000">Credence 1000</option>
                                    <option value="Dis-In-Fect">Dis-In-Fect</option>
                                    <option value="FAM 30">FAM 30</option>
                                    <option value="High Power Sanitising Tablets 3.25g">High Power Sanitising Tablets 3.25g</option>
                                    <option value="Interkokask">Interkokask</option>
                                    <option value="Interkokask Concentrate">Interkokask Concentrate</option>
                                    <option value="Iodo-Pharm">Iodo-Pharm</option>
                                    <option value="Mida CHRIOX F2">Mida CHRIOX F2</option>
                                    <option value="Mira 30">Mira 30</option>
                                    <option value="MS MEGADES OXY D">MS MEGADES OXY D</option>
                                    <option value="NEOGEN Farm Fluid MAX">NEOGEN Farm Fluid MAX</option>
                                    <option value="Novagen F.P.">Novagen F.P.</option>
                                    <option value="OmniChlor Plus">OmniChlor Plus</option>
                                    <option value="Prophyl S">Prophyl S</option>
                                    <option value="Rapicid">Rapicid</option>
                                    <option value="Septrivet 17">Septrivet 17</option>
                                    <option value="Septrivet 87 8.68g">Septrivet 87 8.68g</option>
                                    <option value="Stable Safe Strength 4.72g Tablets">Stable Safe Strength 4.72g Tablets</option>
                                    <option value="Tibicur">Tibicur</option>
                                    <option value="Total Farm Disinfectant">Total Farm Disinfectant</option>
                                    <option value="V18">V18</option>
                                    <option value="Virkon® LSP">Virkon® LSP</option>
                                    <option value="Virochlor 500">Virochlor 500</option>
                                    <option value="Virophor 2.8%">Virophor 2.8%</option>
                                    <option value="Virudine Plus">Virudine Plus</option>
                                </select>

                            </div>

                    </div>
             </div>


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>


<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-270px;  ">

    <select style="height:30px;" onchange="window.location.href='?'+this.value">

        <option value="errorthispage=false&errortypeone=false&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errorthispage'] != "true"  %}selected{% endif %}
        >Errors - Off</option>

        <option value="errorthispage=true&errortypeone=true&errortypetwo=false&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] == 'true'  and  data['errortypetwo'] != 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 1 - No answer entered</option>

        <option value="errorthispage=true&errortypeone=false&errortypetwo=true&errortypethree=false&errortypefour=false&errortypefive=false&errortypesix=false&"
                {% if  data['errortypeone'] != 'true'  and  data['errortypetwo'] == 'true'  and  data['errortypethree'] != 'true'  and  data['errortypefour'] != 'true'  and data['errortypefive'] != 'true'  and  data['errortypesix'] != 'true'  %}selected{% endif %}
        >Error 2 - Entry does not match approved list (case insensitive)</option>

    </select>

</form>
<!--  END OF ERROR LOGIC -->







<!--  scripts for the country selection -->
<!-- can add more countries and example in  -->
<link rel="stylesheet" href="/public/locationautocomplete/location-autocomplete.min.css" />
<script type="text/javascript" src="/public/locationautocomplete/location-autocomplete.min.js"></script>
<script type="text/javascript">
    openregisterLocationPicker({
        additionalSynonyms: [
            { name: 'Albion', code: 'GB' }
        ],
        defaultValue: '',
        selectElement: document.getElementById('biosecurity-disinfectant-type-ahead'),
        url: '/public/locationautocomplete/location-autocomplete-graph.json'
    })

</script>





{% endblock %}





