{% extends "layouts/v3_0_0.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which type of movement does your application relate to?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-movement-type-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/movement-type">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-what-is-moving-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What animal species are the carcasses from?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-carcasses-species-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/carcasses-species">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                How many carcasses are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-carcasses-quantity-number-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/carcasses-quantity">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What animal species are the
                    {% if data['about-the-movement-what-is-moving-radios-formatted'] == null %}
                        [USER SELECTION]
                    {% else %}
                        {{ data['about-the-movement-what-is-moving-radios-formatted'] }}
                    {% endif %}
                    from?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-what-species-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/what-species">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What will be moved?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-enter-what-is-moving-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/enter-what-is-moving">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                How much will be moved?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-enter-what-is-moving-quantity-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/enter-what-is-moving/quantity">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which type of animal are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-select-animals-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which type of animal are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-select-other-animals-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/select-other-animals">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What type of species are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-select-animals-other-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/other">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What type of bird are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-birds-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/birds">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What type of bird are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-other-birds-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/birds/other-birds">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Enter what type of bird you are moving
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-enter-bird-type-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/birds/enter-bird-type">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                How many animals are you planning to move?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-quantity-number-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/quantity">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>



        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which types of animals are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-cattle-types-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/cattle-types">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What is the current use or purpose of the animals?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-cattle-purpose-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/cattle-purpose">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                Which types of animals are you moving?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-pigs-types-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/pigs-types">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What is the current use or purpose of the animals?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-pigs-purpose-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/select-animals/pigs-purpose">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What is the current use or purpose of the animals?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['about-the-movement-purpose-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="about-the-movement/what-is-moving/purpose">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>






         <form action="../task-list?section-identification-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





