<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
            Are you moving the animals on or off your farm or premises?
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['origin-to-or-from-own-premises-radios'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../origin/to-or-from-own-premises">Change<span class="govuk-visually-hidden"> </span></a>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
            What type of premises are the animals moving off?
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['origin-type-of-origin-radios'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../origin/type-of-origin">Change<span class="govuk-visually-hidden"> </span></a>
        </dd>
    </div>


    {%  if  data['origin-type-of-origin-radios'] == "Another origin"   %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                What type of premises are the animals moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-type-of-origin-page-2-radios'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/type-of-origin-page-2">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

        {%  if  data['origin-type-of-origin-page-2-radios'] == "Another origin"   %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What type of premises are the animals moving off?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['origin-type-of-origin-other-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../origin/type-of-origin-other?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

        {%  endif  %}

    {%  endif  %}



    {%  if  data['origin-to-or-from-own-premises-radios'] == "On to the farm or premises"   %}


            {%  if    data['origin-type-of-origin-radios'] == "A market"
                   or data['origin-type-of-origin-radios'] == "An unrestricted farm or premises"
            %}

            <!-- No data needed form the user -->

            {%  elif  data['origin-type-of-origin-page-2-radios'] == "Another origin"  %}

                       <!-- No data needed form the user I THINK -->

            {%  else  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        What is the County Parish Holding (CPH) number of the farm or premises where the animals are moving off?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['origin-origin-farm-cph-text-input'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../origin/origin-farm-cph?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-font-weight-regular">
                        What is the address of the farm or premises where the animals are moving off?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['origin-address-line-1'] }}<br>
                        {{ data['origin-address-line-2'] }}<br>
                        {{ data['origin-address-town'] }}<br>
                        {{ data['origin-address-county'] }}<br>
                        {{ data['origin-address-postcode'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../origin/origin-farm-address">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>


            {%  endif  %}


    {%  else  %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                What is the County Parish Holding (CPH) number of your farm or premises where the animals are moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-own-farm-new-cph-text-input'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/own-farm-new-cph?camefromcheckanswers=true&">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key  govuk-!-font-weight-regular">
                What is the address of your farm or premises where the animals are moving off?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['origin-own-address-line-1'] }}<br>
                {{ data['origin-own-address-line-2'] }}<br>
                {{ data['origin-own-address-town'] }}<br>
                {{ data['origin-own-address-county'] }}<br>
                {{ data['origin-own-address-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../origin/own-farm-new-address">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
        </div>

    {%  endif  %}


</dl>