{% extends "layouts/v3_0_3.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>



        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What is your name?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['unconstrained-your-name-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="your-name">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What is your address?
                </dt>
                <dd class="govuk-summary-list__value" >


                    {%  if  data['uncontrained-before-tb']  == "true"  %}
                        {{ data['unconstrained-your-address-address-line-1'] }}<br>
                        {{ data['unconstrained-your-address-address-line-2'] }}<br>
                        {{ data['unconstrained-your-address-address-town'] }}<br>
                        {{ data['unconstrained-your-address-address-county'] }}<br>
                        {{ data['unconstrained-your-address-address-postcode'] }}

                    {%  elif  data['address']  != "undefined"
                            and  data['unconstrained-your-address-select-radios'] != "Another address" %}
                            {{ data['address']  }}

                    {%  else  %}
                        {{ data['unconstrained-your-address-address-line-1'] }}<br>
                        {{ data['unconstrained-your-address-address-line-2'] }}<br>
                        {{ data['unconstrained-your-address-address-town'] }}<br>
                        {{ data['unconstrained-your-address-address-county'] }}<br>
                        {{ data['unconstrained-your-address-address-postcode'] }}

                    {%  endif  %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="your-address">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    What is your phone number?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['unconstrained-your-contact-number-text-input'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="your-contact-number">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                    Are you registering as an individual for personal use?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['unconstrained-personal-use-radios-yes-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="personal-use">Change<span class="govuk-visually-hidden"> </span></a>
                </dd>
            </div>

        </dl>


         <form action="../task-list?section-personal-details-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>





{% endblock %}





