{% extends "layouts/v3_0_0.html" %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before you continue your application</h1>

        <dl class="govuk-summary-list">

            <dl class="govuk-summary-list">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                        Which type of movement does your application relate to?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['about-the-movement-or-activity-type-radios'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="type">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                </div>




                {%  if data['about-the-movement-or-activity-type-radios']  == "Movement on to a farm or premises"  or
                       data['about-the-movement-or-activity-type-radios']  == "Movement off a farm or premises"
                %}



                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                            What are you moving?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['about-the-movement-or-activity-what-is-moving-radios'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="what-is-moving">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>


                   {%  if  data['about-the-movement-or-activity-what-is-moving-radios']  == "Milk"    %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                                What animal is the milk from?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['about-the-movement-or-activity-animal-the-milk-is-from-radios'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="animal-the-milk-is-from">Change<span class="govuk-visually-hidden"> </span></a>
                            </dd>
                        </div>

                    {%  else  %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                                Are the animals moving to slaughter?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['about-the-movement-or-activity-slaughter-yes-no-radios-yes-no'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="slaughter-yes-no">Change<span class="govuk-visually-hidden"> </span></a>
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                                Which type of animal are you moving?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['about-the-movement-or-activity-animal-type-radios'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="animal-type">Change<span class="govuk-visually-hidden"> </span></a>
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                                How many animals are you planning to move?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['about-the-movement-or-activity-number-of-animals-number-input'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="number-of-animals">Change<span class="govuk-visually-hidden"> </span></a>
                            </dd>
                        </div>

                    {%  endif  %}


                {%  else  %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                            Which type of animal will be slaughtered?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['about-the-movement-or-activity-animal-being-slaughtered-radios'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="animal-being-slaughtered">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                            How many animals will be slaughtered?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['about-the-movement-or-activity-number-of-animals-slaughtered-number-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="number-of-animals-slaughtered">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {%  endif  %}










                {%  if data['about-the-movement-or-activity-type-radios']  == "Slaughter of animals onsite"  or
                       data['about-the-movement-or-activity-what-is-moving-radios']  != "Milk"
                %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key  govuk-!-width-one-half govuk-!-font-weight-regular">
                            What are the identification (ID) numbers for the animals being moved?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['about-the-movement-or-activity-id-number-text-input'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="id-number">Change<span class="govuk-visually-hidden"> </span></a>
                        </dd>
                    </div>

                {%  endif  %}





            </dl>

        </dl>



        <form action="../task-list?section-fmd-about-the-movement-or-activity-complete=true&" method="post" novalidate>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}





