{% extends "../layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-xl">
                Apply for a Placeholder
            </h1>
        </div>


        <p>Placeholder Placeholder Placeholder Placeholder</p>

        <p><a href="#">Apply for a Placeholder</a> to do Placeholder.</p>


        <a class="gem-c-button govuk-button govuk-button--start govuk-!-margin-bottom-8" role="button" rel="external" data-module="govuk-button" draggable="false"
           href="sign-in-gg">
            Start now

          <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>



        <h2  class="govuk-heading-m ">
            Before you start
        </h2>

        <p>Use this service to:</p>

        <ul class="govuk-body govuk-list--bullet">
          <li>apply for Placeholder</li>
          <li>ask for advice on how to Placeholder</li>
        </ul>

        <p>You’ll need an email to register to use the service.</p>

        <p>The <a href="#">Placeholder</a> has details about which Placeholder need a licence.</p>


        <h2  class="govuk-heading-m govuk-!-margin-top-6">Northern Ireland, Scotland and Wales</h2>

        <p>Placeholder</p>



    </div>


</div>





{% endblock %}
