{% extends 'layouts/main.html' %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Do the addresses match?
{% endset %}



{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


                    {{
                govukTable
                ({
                    caption: "",
                    firstCellIsHeader: false,
                    head:
                    [
                        {
                            text: "Application"
                        },
                        {
                            text: "APHA record"
                        }
                    ],
                    rows:
                    [
                        [
                            {
                                html: 'Hill top farm<br>River lane<br>West Thornbridge<br>Lincoln<br>LN97GX'
                            },

                            {
                                html: 'Hill Top Farm<br>River lane<br>West Thornbridge<br>Lincoln<br>LN9 7GX'
                            }
                        ]
                    ]
                })
            }}


        <div class="govuk-button-group">

            {{
                govukButton
                ({
                    text: 'Addresses match',
                    href: 'validation/name'
                })
            }}


            {{
                govukButton
                ({
                    text: 'Addresses do not match',
                    classes: "govuk-button--secondary"
                })
            }}

        </div>

    </div>
</div>







{% endblock %}





