{% extends "layouts/v4_0_0_case_management" %}


{% set backlinkoff = 'false' %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Do the names match?
{% endset %}



{% block content %}
<div class='govuk-grid-row'>

    <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


        <div class="govuk-!-width-one-half">

            {{
                govukTable
                ({
                    caption: "",
                    firstCellIsHeader: false,
                    head:
                    [
                        {
                            text: "Application"
                        },
                        {
                            text: "APHA record"
                        }
                    ],
                    rows:
                    [
                        [
                            {
                                text: 'John Smith'
                            },
                            {
                                text: 'John Henry Smith'
                            }
                        ],
                        [
                            {
                                text: ""
                            },
                            {
                                text: "Anne Smith"
                            }
                        ]
                    ]
                })
            }}

        </div>


        <div class="govuk-button-group">

            {{
                govukButton
                ({
                    text: 'Names match',
                    href: 'address'
                })
            }}


            {{
                govukButton
                ({
                    text: 'Names do not match',
                    classes: "govuk-button--secondary"
                })
            }}

        </div>

    </div>
</div>







{% endblock %}





