{% extends "layouts/v4_0_1" %}

{% set version = "v4_0_1" %}
{% set bodyClasses = version %}



<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Where are the carcasses going?
{% endset %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            {% if  data['disposal-of-animal-whole-animal-radios-yes-no'] == "Yes"  %}
                Carcasses
            {% else %}
                Animal by-products
            {% endif %}
            must be disposed of at certain locations
        </h1>

        <p>They can only move to one of the following places:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Knacker's yard</li>
            <li>Rendering plant</li>
            <li>Incinerator</li>
            <li>Hunt kennel</li>
        </ul>


        <!-- go to routes.js for routing  -->
        <form action="premises-type" method="post" novalidate>

            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>



{% endblock %}


