{% extends "layouts/v4_0_0_case_management" %}


{% set backlinkoff = 'false' %}


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Application details
{% endset %}




{% block content %}
<div class='govuk-grid-row'>

    <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">
            {{ pageHeadingTextHTML }}
        </h1>


        <div class="govuk-!-width-one-half">

            {% set allocationButtonHtml %}
                <div class="div_right_aligned__item">
                    {% if data['allocated'] == 'true' %}
                        <a href="#">Change allocation</a>
                    {% endif %}
                </div>
            {% endset %}


            {{
                govukTable
                ({
                    caption: "",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    head:
                    [
                        {
                            text: ""
                        },
                        {
                            text: ""
                        },
                        {
                            text: ""
                        }
                    ],
                    rows:
                    [
                        [
                            {
                                text: "State"
                            },
                            {
                                text: data['state'] or 'New'
                            },
                            {

                            }
                            ],
                        [
                            {
                                text: "Allocated to"
                            },
                            {
                                text: "Alex smith"  if data['allocated'] == 'true'  else  "Unallocated"
                            },
                            {
                                html: allocationButtonHtml
                            }
                        ],

                        [
                            {
                                text: "Licence type"
                            },
                            {
                                text: "TB16"
                            },
                            {

                            }
                        ],
                        [
                            {
                                text: "	Due date"
                            },
                            {
                                text: "5 days remaining"
                            },
                            {

                            }
                        ],
                        [
                            {
                                text: "Last updated"
                            },
                            {
                                text: "Today"
                            },
                            {

                            }
                        ],
                        [
                            {
                                text: "Priority"
                            },
                            {
                                text: "Welfare"
                            },
                            {

                            }
                        ],
                        [
                            {
                                text: "Reference"
                            },
                            {
                                text: "TB-7181-M5VL"
                            },
                            {

                            }
                        ]
                    ]
                })
            }}

        </div>







        <div class="govuk-!-margin-top-9">

            <h2 class="govuk-heading-m">Actions</h2>

            <div class="govuk-button-group">

                {%  if data['state'] == 'Licence issued' %}



                {%  elif data['state'] == 'Referred to a vet' %}

                    {{
                        govukButton
                        ({
                            text: 'Issued licence',
                            href: 'issued-licence/upload-licence'
                        })
                    }}

                    {{
                        govukButton
                        ({
                            text: 'Rejected application',
                            classes: "govuk-button--secondary"
                        })
                    }}

                {%  elif data['state'] == 'In progress'  and  data['validated'] != 'true' %}

                    {{
                        govukButton
                        ({
                            text: 'Validate details',
                            href: 'validation/name'
                        })
                    }}

                    {{
                        govukButton
                        ({
                            text: 'Application not needed',
                            classes: "govuk-button--secondary"
                        })
                    }}

                    {{
                        govukButton
                        ({
                            text: 'Waiting for more details',
                            classes: "govuk-button--secondary"
                        })
                    }}

                {%  elif data['validated'] == 'true'  %}

                    {{
                        govukButton
                        ({
                            text: 'Referred to a vet',
                            href: "my-applications?state=Referred to a vet&"
                        })
                    }}

                    {{
                        govukButton
                        ({
                            text: 'Application not needed',
                            classes: "govuk-button--secondary"
                        })
                    }}

                    {{
                        govukButton
                        ({
                            text: 'Waiting for more details',
                            classes: "govuk-button--secondary"
                        })
                    }}


                {%  else  %}

                   {{
                        govukButton
                        ({
                            text: "Allocate to me",
                            href: "my-applications?allocated=true"
                        })
                    }}


                {%  endif  %}


                {{
                    govukButton
                    ({
                        text: 'Add note',
                        classes: "govuk-button--secondary"
                    })
                }}


            </div>

        </div>



        {{
            govukTable
            ({
                caption: "Application data",
                captionClasses: "govuk-table__caption--m govuk-!-margin-top-9",
                firstCellIsHeader: false,
                head:
                [
                    {
                        text: "Question"
                    },
                    {
                        text: "Answer"
                    }
                ],
                rows:
                [
                    [
                        {
                            text: "Are you moving the animals on or off your farm or premises?"
                        },
                        {
                            text: "Off the farm or premises"
                        }
                    ],
                    [
                        {
                            text: "Which type of premises are the animals moving off?"
                        },
                        {
                            text: "TB restricted farm"
                        }
                    ],
                    [
                        {
                            text: "What is the County Parish Holding (CPH) number of your farm or premises where the animals are moving off?"
                        },
                        {
                            text: "91/885/6212"
                        }
                    ],
                    [
                        {
                            text: "What is the address of your farm or premises where the animals are moving off?"
                        },
                        {
                            html: "Hill top farm<br>River lane<br>West Thornbridge<br>Lincoln<br>LN97GX"
                        }
                    ],
                    [
                        {
                            text: "Where are the animals going to?"
                        },
                        {
                            text: "Approved finishing units and TB sales at orange markets"
                        }
                    ],
                    [
                        {
                            text: "Enter any additional information (optional)"
                        },
                        {
                            text: "None"
                        }
                    ],
                    [
                        {
                            text: "What is the name of the person registered as the keeper of the animals?"
                        },
                        {
                            text: "John Smith"
                        }
                    ],
                    [
                        {
                            text: "What email address would you like the licence sent to?"
                        },
                        {
                            text: "j.smith.76@gmail.com"
                        }
                    ]
                ]
            })
        }}







        <div class="govuk-!-width-one-half govuk-!-margin-top-9">



            {{
                govukTable
                ({
                    caption: "History of this application",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: false,
                    head:
                    [
                        {
                            text: "Change"
                        },
                        {
                            text: "Time"
                        },
                        {
                            text: "Person"
                        }
                    ],
                    rows:
                    [
                        [
                            {
                                html: "Licence issued<br><a href='#'>Download licence</a>"
                            },
                            {
                                text: "Today at 12:44am"
                            },
                            {
                                text: "Alex Smith"
                            }
                        ] if data['state'] == 'Licence issued',
                        [
                            {
                                text: "Referred to a vet"
                            },
                            {
                                text: "Today at 11:08am"
                            },
                            {
                                text: "Alex Smith"
                            }
                        ] if data['state'] == 'Referred to a vet'  or  data['state'] == 'Licence issued',
                        [
                            {
                                text: "Details validated"
                            },
                            {
                                text: "Today at 11:07am"
                            },
                            {
                                text: "Alex Smith"
                            }
                        ] if data['validated'] == 'true',
                        [
                            {
                                text: "In progress"
                            },
                            {
                                text: "Today at 11:02am"
                            },
                            {
                                text: "Alex Smith"
                            }
                        ] if data['state'] == 'In progress'  or  data['state'] == 'Referred to a vet'  or  data['state'] == 'Licence issued',
                        [
                            {
                                text: "Allocated to Alex Smith"
                            },
                            {
                                text: "Today at 10:55am"
                            },
                            {
                                text: "Alex Smith"
                            }
                        ] if data['allocated'] == 'true',
                        [
                            {
                                text: "Submitted"
                            },
                            {
                                text: "Today at 7:13am"
                            },
                            {
                                text: ""
                            }
                        ]
                    ]
                })
            }}

        </div>


    </div>
</div>





{% endblock %}