{% extends "layouts/v2_0_0.html" %}

<!--
NOTES ON USING THIS TEMPLATE Page
This will save you time.

1. Type your heading for the page after '% set pageHeadingTextHTML %'
2. Type/customise the error message after '% set errorTextHTML %'
3. Use 'Find and replace' to replace "SECTION" with the name of the section of the service you're working on.
4. Use 'Find and replace' to replace "PAGENAME_YES_NO" with whatever you named this page/file.
5. Go to the javascript file 'templates.js' and copy the section 'YES AND NO - RADIO BUTTONS - MANDATORY' into your routes.js file.
6. Follow instructions at the top of the 'templates.js'
-->


<!-- Setting the big main heading at the top of the page -->
{% set pageHeadingTextHTML %}
    Which measures are you taking to reduce contamination from wildlife?
{% endset %}


<!-- Text that show in the browser tab. Does NOT need changing -->
{% block pageTitle %}

    {{ pageHeadingTextHTML }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">

        <form action="badgers-router" method="post" novalidate>

        {{ govukCheckboxes
            ({
                name: "biosecurity-badgers-checkboxes",

                id: "biosecurity-badgers-checkboxes",

                fieldset:
                {
                    legend:
                    {
                        text: pageHeadingTextHTML,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },

                hint:
                {
                    text: "Only select the measures you are taking"
                },

                items:
                [
                    {
                        value: "Badger proof fencing, such as solid aluminium sheeted gates, aluminium sheeting on rail fences, retractable electric fences",
                        text: "Badger proof fencing, such as solid aluminium sheeted gates, aluminium sheeting on rail fences, retractable electric fences",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Badger proof fencing, such as solid aluminium sheeted gates, aluminium sheeting on rail fences, retractable electric fences') > -1
                    },
                    {
                        value: "Aluminium feed bins",
                        text: "Aluminium feed bins",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Aluminium feed bins') > -1
                    },
                    {
                        value: "Limiting access to badger latrines and setts",
                        text: "Limiting access to badger latrines and setts",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Limiting access to badger latrines and setts') > -1
                    },
                    {
                        value: "Feed and water troughs above 90cm",
                        text: "Feed and water troughs above 90cm",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Feed and water troughs above 90cm') > -1
                    },
                    {
                        value: "Mineral licks kept out of reach",
                        text: "Mineral licks kept out of reach",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Mineral licks kept out of reach') > -1
                    },
                    {
                        value: "Other decontamination methods",
                        text: "Other decontamination methods",
                        checked: (data['biosecurity-badgers-checkboxes'] or []).indexOf('Other decontamination methods') > -1
                    }
                ]
            })
        }}


        <p>If there are measures you are not taking but want to find out more,
            <a href="https://tbhub.co.uk/preventing-tb-breakdowns/protect-your-herd-from-bovine-tb/protect-your-herd-from-tb-a-review-of-the-science/" target="_blank">
                read the guidance on the TB Hub</a> (opens in a new tab).
        </p>


            {{ govukButton({ text: "Continue" }) }}

        </form>

    </div>
</div>



{% endblock %}


