{% if data['cookiesaccepted'] == "true" %}
    {% extends "layouts/cookiesacceptedlayout.html" %}
{% elif data['cookiesrejected'] == "true" %}
    {% extends "layouts/cookiesrejectedlayout.html" %}
{% else %}
    {% extends "layouts/cookieslayout.html" %}
{% endif %}




{% block content %}




<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Cookies
        </h1>

        <p class="govuk-body">Placeholder</p>

        
    </div>

</div>
{% endblock %}
