{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Interacton designer handover
        </h1>
        


        <h2 class="govuk-heading-s">
            Work done in this prototype
        </h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>The public-facing service for TB. Which is live.</li>
            <li>The public-facing service for Foot and Mouth. Which is not live and was a contingency</li>
            <li>The staff facing service for processing applications which has since been abandoned.</li>
        </ul>



        <h2 class="govuk-heading-s">
            Components
        </h2>

        <p class="govuk-body">
            All components are standard GDS.
        </p>



        <h2 class="govuk-heading-s">
            Versions
        </h2>

        <p class="govuk-body">
            A new version was made for each round of user testing.
        </p>





        <h2 class="govuk-heading-s">
            Prototype Gihub repo
        </h2>

        <p class="govuk-body">
            <a href="https://github.com/defra-design/applications-and-permissions-prototype">Link</a> to the only prototype repo.
        </p>






        <h2 class="govuk-heading-s">
            Heroku
        </h2>

        <p class="govuk-body">
            These are all owned by the defra-design workspace.
        </p>

        <p class="govuk-body">
            <a href="https://applicationsandpermissions-dev-ffeda85e15b1.herokuapp.com/">Analysis and Development</a>
            <br>
            Password: team1234
            <br>
            Auto deployed from it's branch.
        </p>


        <p class="govuk-body">
            <a href="https://applicationsandpermissions-ur-741ab4f6cfa3.herokuapp.com/">User research</a>
            <br>
            Password: 3456
            <br>
            Auto deployed from it's branch.
        </p>

        <p class="govuk-body">
            <a href="https://applications-and-permissions-94676be44530.herokuapp.com/">Design</a>
            <br>
            Password: team1234
            <br>
            Auto deployed from the main branch.
        </p>




        <h2 class="govuk-heading-s">
            Design documents on Mural
        </h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1751298786282/03e0f5ce006f8c0b28826e2fd4ade41db7881447">Exotics</a></li>
            <li><a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1724064603915/1bcb0fce3a482d0786d5fd1240d8a74e24ac2df1">Journey pages</a></li>
            <li><a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1759140264214/d7eb7125cc6330b33c426ad45f35ccbf455f3ed4">Time planning</a></li>
        </ul>


    </div>

</div>

{% endblock %}
