{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Account
        <br>&nbsp&nbsp&nbsp<a href="account/start">Start page</a>
        <br>&nbsp&nbsp&nbsp<a href="account/sign-in-gg">Sign in/ sign up</a>
        <br>&nbsp&nbsp&nbsp<a href="account/list-of-licence-applications">Dashboard</a>
    </p>

    <p>Create application
        <br>&nbsp&nbsp&nbsp<a href="create-application/task-list">Task list</a>

        <br><br>&nbsp&nbsp&nbspWhat and when</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/thing-being-moved">What is being moved</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/how-many">How many of them</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/date-one-day">Just on one day</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-one-day">Date of movement (one day only)</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-window-start">Date window start</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/what/move-date-window-end">Date window end</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/create-application/what/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspOrigin</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/origin/to-or-from-own-premises">To or from farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere from - <a href="create-application/origin/type-of-origin">Premises type</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere from - <a href="create-application/origin/origin-farm-cph">CPH of origin farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOwn farm - <a href="create-application/origin/selection-of-own-premises">Select premises </a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/create-application/origin/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspDestination</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/type-of-destination">Premises type</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/destination-farm-cph">CPH of destination farm</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhere to - <a href="create-application/destination/market-type">Type of market</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOwn farm - <a href="create-application/destination/selection-of-own-premises">Select premises </a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/create-application/destination/check-answers">Check answers</a>

        <br><br>&nbsp&nbsp&nbspTests</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/tests/origin-confirmation">Origin Confirmation</a>
        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="create-application/tests/destination-confirmation">Destination Confirmation</a>


    </p>




  </div>


  <div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
      <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-s govuk-!-margin-top-3">Analysis and development</h2>
        <p><a href="#">Handover links (placeholder)</a></p>
        <p><a href="prototypetools/sharestate">Share page state</a></p>
        <p><a href="https://applicationsandpermissions-dev-ffeda85e15b1.herokuapp.com/">Prototype</a></p>
      </div>

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-s govuk-!-margin-top-3">User research</h2>
        <p><a href="#">User testing links (placeholder)</a></p>
        <p><a href="https://applicationsandpermissions-ur-741ab4f6cfa3.herokuapp.com/">Prototype</a></p>
      </div>

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-s govuk-!-margin-top-3">Designers</h2>
        <p><a href="templates/a-list-of-templates">Templates </a></p>
        <p><a href="templates/a-list-of-helpful-features">Helpful features</a></p>
        <p><a href="https://applications-and-permissions-94676be44530.herokuapp.com/">Prototype</a></p>
        <p><a href="http://localhost:3000/manage-prototype">Prototype management</a></p>
      </div>
  </div>


</div>

{% endblock %}
