{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ serviceName }}
        </h1>


        <h2 class="govuk-heading-m">Latest version</h2>

        <p><a href="/latest/version-index">View latest version</a></p>

        <!-- VERSION HISTORY START -->
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Version history</h2>

       <!-- <p class="govuk-body"><a href="https://github.com/DFE-Digital/education-benchmarking-and-insights/blob/main/documentation/prototype/1_Versioning.md" class="govuk-link">How to archive a version of the ptototype</a>.</p>  -->
        <ul class="govuk-list">

            <!-- NEW VERSION -->
            <li class="govuk-!-margin-bottom-7">
                <h2 class="govuk-heading-s">v0.3.0 - 7 October 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_3_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Task list items are conditional on other sections</li>
                    <li>Added full biosecurity section</li>
                    <li>Biosecurity map in it's own section</li>
                    <li>Added check answers page for whole application</li>
                    <li>Added confirmation page</li>
                    <li>Updated content across the exsiting joruney</li>
                    <li>Simplified the dashboard to better match user needs</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-7">
                <h2 class="govuk-heading-s">v0.2.0 - 20 September 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_2_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Simplified date of movement</li>
                    <li>Added reason for movement</li>
                    <li>Added in questions about cattle quantity</li>
                    <li>Updated slightly the biosecurity questions</li>
                    <li>Added question licence sending</li>
                    <li>Added questions on status updates</li>
                    <li>Simplified and more relevant dashboard</li>
                    <li>many more small changes</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-7">
                <h2 class="govuk-heading-s">v0.1.0 - 12 September 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_1_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>First version of Dashboard and application</li>
                    <li>Missing many pages</li></li>
                </ul>
            </li>


        </ul>

      <!-- VERSION HISTORY END -->


  </div>


    <div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
        <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">Analysis and development</h2>
            <p><a href="#">Handover links (placeholder)</a></p>
            <p><a href="prototypetools/sharestate">Share page state</a></p>
            <p><a href="https://applicationsandpermissions-dev-ffeda85e15b1.herokuapp.com/">Prototype</a></p>
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">User research</h2>
            <p><a href="user-testing-links">User testing links</a></p>
            <p><a href="https://applicationsandpermissions-ur-741ab4f6cfa3.herokuapp.com/">Prototype</a></p>
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">Designers</h2>
            <p><a href="templates/a-list-of-templates">Templates </a></p>
            <p><a href="prototypetools/making-a-new-version">Making a new version</a></p>
            <p><a href="templates/a-list-of-helpful-features">Helpful features</a></p>
            <p><a href="https://applications-and-permissions-94676be44530.herokuapp.com/">Prototype</a></p>
            <p><a href="/manage-prototype">Prototype management (gov)</a></p>
        </div>

    </div>


</div>

{% endblock %}
