{% extends "layouts/mainbetawithoutbacklink.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ serviceName }}  [prototype]
        </h1>


        <!--
        <h2 class="govuk-heading-m">Latest version</h2>

        <p><a href="/latest/version-index">View latest version</a></p>
        -->

        <!-- VERSION HISTORY START -->
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Version history</h2>

       <!-- <p class="govuk-body"><a href="https://github.com/DFE-Digital/education-benchmarking-and-insights/blob/main/documentation/prototype/1_Versioning.md" class="govuk-link">How to archive a version of the ptototype</a>.</p>  -->
        <ul class="govuk-list">


            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v4.0.0 - 8 January 2026</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v4_0_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                    <li>Case management</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v3.0.3 - 18 November 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v3_0_3/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                    <li>Registration</li>
                    <li>Templates overhaul</li>
                </ul>
            </li>


            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v3.0.2 - 23 October 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v3_0_2/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                    <li>Contact details</li>
                    <li>Any disease</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v3.0.1 - 24 September 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v3_0_1/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                    <li>Updated more biosecurity to checkboxes</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v3.0.0 - 21 July 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v3_0_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                    <li>First inclusion of config</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.8.0 - 16 July 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_8_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.7.0 - 16 June 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_7_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.6.0 - 6 May 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_6_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>See index page</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.5.0 - 16 April 2025</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_5_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Biosecurity questions</li>
                    <li>Biosecurity multiple map files</li>
                    <li>Email template</li>
                    <li>Start page content</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.4.0 - 31 March 2025 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_4_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Disinfectant redesign using API</li>
                    <li>Various content updates</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.3.0 - 19 March 2025 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_3_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Restricted farm to restricted farm - TB16</li>
                    <li>Updated Start page</li>
                    <li>Updated content on biosecurity pages</li>
                    <li>Updated content on other pages</li>
                    <li>Added radio button and page for AFU moement</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.2.0 - 27 February 2025 - In development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_2_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Updates from stakeholders</li>
                    <li>Updated user research</li>
                </ul>
            </li>


            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.1.0 - 24 January 2025 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_1_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Updates from stakeholders</li>
                    <li>Updated user research</li>
                </ul>
            </li>


            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v2.0.0 - 2 January 2025 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v2_0_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Removal of all the out of scope routing</li>
                    <li>Updated origin types</li>
                    <li>Updated destination types</li>
                    <li>Added identification section for one movement type</li>
                    <li>Integration of biosecurity section</li>
                </ul>
            </li>



            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v1.2.0 - 14 January 2025 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v1_2_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Updated start page content</li>
                    <li>Help at bottom of each page</li>
                    <li>Cookies page</li>
                    <li>Declaration</li>
                    <li>Submissions page content</li>
                </ul>
            </li>



            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v1.1.0 - 2 December 2024 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v1_1_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Updates to match scope</li>
                    <li>Minor fixes</li>
                    <li>Added user's name to contact section</li>
                    <li>Added a page for diverting paper post licence users</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v1.0.0 - 8 November 2024 - For development</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v1_0_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Reduced for development</li>
                    <li>Scope - Release 1</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v0.4.0 - 30 December 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_4_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Final interations of Alpha testing</li>
                    <li>User research iterations in early beta</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v0.3.0 - 7 October 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_3_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Task list items are conditional on other sections</li>
                    <li>Added full biosecurity section</li>
                    <li>Biosecurity map in it's own section</li>
                    <li>Added check answers page for whole application</li>
                    <li>Added confirmation page</li>
                    <li>Updated content across the exsiting joruney</li>
                    <li>Simplified the dashboard to better match user needs</li>
                    <li>Bluetongue questions added - first draft</li>
                    <li>Bluetongue featuee toggle added to index page</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v0.2.0 - 20 September 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_2_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Simplified date of movement</li>
                    <li>Added reason for movement</li>
                    <li>Added in questions about cattle quantity</li>
                    <li>Updated slightly the biosecurity questions</li>
                    <li>Added question licence sending</li>
                    <li>Added questions on status updates</li>
                    <li>Simplified and more relevant dashboard</li>
                    <li>many more small changes</li>
                </ul>
            </li>

            <li class="govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-s">v0.1.0 - 12 September 2024</h2>
                <p class="govuk-body"> <a class="govuk-link" href="v0_1_0/version-index" >View version</a> </p>
                <p class="govuk-body">Summary of changes</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>First version of Dashboard and application</li>
                    <li>Missing many pages</li></li>
                </ul>
            </li>


        </ul>

      <!-- VERSION HISTORY END -->


  </div>


    <div class="govuk-grid-column-one-third govuk-!-margin-top-9 govuk-!-padding-left-8">
        <p class="govuk-!-margin-top-6" style="border-top: 2px solid #1d70b8; margin-bottom: 30px;">

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">Analysis and development</h2>
            <p><a href="dev-handover-links">Handover links</a></p>
            <p><a href="prototypetools/sharestate">Share page state</a></p>
            <p><a href="https://applicationsandpermissions-dev-ffeda85e15b1.herokuapp.com/">Prototype</a></p>
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">User research</h2>
            <p><a href="user-testing-links">User testing links</a></p>
            <p><a href="https://applicationsandpermissions-ur-741ab4f6cfa3.herokuapp.com/">Prototype</a></p>
        </div>

        <div class="govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">Designers</h2>
            <p><a href="templates/a-list-of-templates">Templates </a></p>
            <p><a href="prototypetools/making-a-new-version">Making a new version</a></p>
            <p><a href="templates/a-list-of-helpful-features">Helpful features</a></p>
            <p><a href="https://applications-and-permissions-94676be44530.herokuapp.com/">Prototype</a></p>
            <p><a href="/manage-prototype">Prototype management (gov)</a></p>
        </div>

    </div>


</div>

{% endblock %}
