{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Testing links
        </h1>


        <p class="govuk-body">
            Cattle TB - <a class="govuk-link" href="v3_0_3/account/start?customer-identity=true&defra-account-registration=true&uncontrained-before-tb=false&">Start</a>
        </p>

        <p class="govuk-body">
            Cattle TB - Unconstrained - <a class="govuk-link" href="v3_0_3/account/start?customer-identity=true&defra-account-registration=true&uncontrained-before-tb=true&">Start</a>
        </p>


        <p class="govuk-body">
            Pet travel - <a class="govuk-link" href="v3_0_3/account/pet-travel/start-page?uncontrained-before-tb=false&">Start</a>
        </p>




    </div>

</div>

{% endblock %}
