{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
            Prototype versioning instructions
        </h1>


        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How this versioning works
                </span>
            </summary>
            <div class="govuk-details__text">

                <h2 class="govuk-heading-m">What is being copied and versioned</h2>
                <p>All version folders and files are in the 'app' folder.</p>

                <ul class="govuk-list--bullet govuk-body">
                    <li>Pages folder: &nbsp;&nbsp;views/latest/</li>
                    <li>Index page: &nbsp;&nbsp;views/latest/version-index (in views folder)</li>
                    <li>Layout file: &nbsp;&nbsp;layouts/latest/</li>
                    <li>Routes folder: &nbsp;&nbsp;routes/latest/</li>
                </ul>

                <h2 class="govuk-heading-m">What is being added to each versioned</h2>

                <ul class="govuk-list--bullet govuk-body">
                    <li>Routes version file: &nbsp;&nbsp;routes/latest/version (in routes folder)</li>
                    <li>Routes file: &nbsp;&nbsp;routes.js</li>
                    <li>CSS folder: &nbsp;&nbsp;assets/sass/</li>
                </ul>


                <h2 class="govuk-heading-m">Where versions live</h2>

                <p>The <a href="../index">main index page</a> shows a list of all the versions.</p>

                <p>Each version lives in a folder in the views folder.
                    <br>For example views/v1_0_0/</p>

                <p>Each version version has it's own index page.
                    <br>For example views/v1_0_0/version-index</p>


                <h2 class="govuk-heading-m">Benefits of archiving</h2>
                <ul class="govuk-list--bullet govuk-body">
                    <li>Developers can build from stable past versions</li>
                    <li>Assessments can review iteration history</li>
                </ul>
            </div>
        </details>



        <h2 class="govuk-heading-m">How to make a new version</h2>

        <ol class="govuk-body govuk-!-margin-bottom-9">
            <li>Windows: Open git bash/ finder<br>
                Mac: Open the folder you have installed the repo to in Finder</li>
            <li>Windows: Navigate to the repo e.g. cd Github/reponame/app<br>
                Mac: Right click on the app folder and click New Terminal at Folder</li>
            <li>Type in and enter bash versionUpdate.sh</li>
            <li>Enter a version number to archive the current<br>
                Numbers should increment suitably based on how minor or major the update.<br>
                For example 1.0.0</li>
            <li>Press enter</li>
            <li>Check the main index page for the update</li>
            <li>Replace the Placeholders with a summary of the changes for that version</li>
        </ol>





        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Doing everything manually instead (not recommended)
                </span>
            </summary>
            <div class="govuk-details__text">

                <h2 class="govuk-heading-m">Manual instructions</h2>

                <ol class="govuk-body govuk-!-margin-bottom-9">
                    <li>Windows: Open git bash/ finder<br>
                        Mac: Open the folder you have installed the repo to in Finder</li>
                    <li>Windows: Navigate to the repo e.g. cd Github/reponame/app<br>
                        Mac: Right click on the app folder and click New Terminal at Folder</li>
                    <li>Type in and enter bash versionUpdate.sh</li>
                    <li>Enter a version number to archive the current<br>
                        Numbers should increment suitably based on how minor or major the update.<br>
                        For example 1.0.0</li>
                    <li>Press enter</li>
                    <li>Check the main index page for the update</li>
                    <li>Replace the Placeholders with a summary of the changes for that version</li>
                </ol>
            </div>
        </details>




    </div>
</div>

{% endblock %}
