{% extends "layouts/mainbeta.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% set version = "v4_0_0" %}
{% set bodyClasses = version %}


{% block bodyStart %}




    {% if cookiesbanner == "accepted" %}

        {% set acceptHtml %}
          <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies?cookiesaccepted=false&cookiesrejected=false&">change your cookie settings</a> at any time.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              html: acceptHtml,
              actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    href: "cookies?cookiesbannerhidden=true&",
                    name: "cookies[hide]",
                    value: "yes"
                }
              ]
            }
          ]
        }) }}


    {% elif cookiesbanner == "rejected" %}

        {% set acceptHtml %}
          <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies?cookiesaccepted=false&cookiesrejected=false&">change your cookie settings</a> at any time.</p>
        {% endset %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on [name of service]",
          messages: [
            {
              html: acceptHtml,
              actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    href: "cookies?cookiesbannerhidden=true&",
                    name: "cookies[hide]",
                    value: "yes"
                }
              ]
            }
          ]
        }) }}


    {% elif cookiesbanner == "basic" %}

        {{ govukCookieBanner({
          ariaLabel: "Cookies on Get permission to move animals under disease controls",
          messages: [
            {
              headingText: "Cookies on Get permission to move animals under disease controls",
              html: '<p class="govuk-body">We use some essential cookies to make this service work.</p>
                <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>',
              actions: [
                {
                    text: "Accept analytics cookies",
                    type: "button",
                    href: "cookies?cookiesaccepted=true&cookiesrejected=false&cookiesbannerhidden=false&",
                    name: "cookies[analytics]",
                    value: "yes"
                },
                {
                    text: "Reject analytics cookies",
                    type: "button",
                    href: "cookies?cookiesaccepted=false&cookiesrejected=true&cookiesbannerhidden=false&",
                    name: "cookies[analytics]",
                    value: "no"
                },
                {
                    text: "View cookies",
                    href: "#"
                }
              ]
            }
          ]
        }) }}


    {% endif %}

{% endblock %}



{% block header %}
    {{
        govukHeader
        ({
            homepageUrl: "",
            serviceName: "Case Management for APHA",
            serviceUrl: "",
            containerClasses: "layout-width-container--full"
        })
    }}


    {% set navHtml %}
        {{
            govukServiceNavigation
            ({
                navigation:
                [
                    {
                        href: "#",
                        text: "Navigation item 1"
                    },
                    {
                        href: "#",
                        text: "Navigation item 2",
                        active: true
                    },
                    {
                        href: "#",
                        text: "Navigation item 3"
                    }
                ]

            })
        }}
    {% endset %}

    {{ navHtml | replace("govuk-width-container", "layout-width-container--full") | safe }}


    {% block beforeContent %}
        {{ govukPhaseBanner
            ({
                tag:
                {
                    text: "Beta"
                },
                html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#"> give your feedback (opens in new tab)</a>.',

                classes: "layout-width-container--full"
            })
        }}

        {% if loggedout == "TURNEDOFF" %}
            <nav class="">
                <ul class="defra-account-menu__list govuk-!-width-full govuk-!-margin-bottom-0">
                    <li class="govuk-body-s defra-account-menu__list-item govuk-!-margin-left-3 govuk-!-margin-bottom-0">Alex Smith</li>
                    <li class="govuk-body-s defra-account-menu__list-item govuk-!-margin-left-3 govuk-!-margin-bottom-0"><a href="#">Manage account</a></li>
                    <li class="govuk-body-s defra-account-menu__list-item govuk-!-margin-left-3 govuk-!-margin-bottom-0"><a href="#">Sign out</a></li>
                </ul>
            </nav>
        {% endif %}

        {% if backlinkoff != "true" %}
            <a onclick="history.back();" href="#" class="govuk-back-link">Back</a>
        {% endif %}

    {% endblock %}


{% endblock %}






{# 3. Main Content: Defines the wrapper without the standard 960px limit #}
{% block main %}
    <div class="layout-width-container--full">
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}



{% block footer %}



{{
    govukFooter
        ({

            meta:
            {
                items:
                [
                    {
                        href: "/privacy-policy",
                        text: "Privacy"
                    },

                    {
                        href: "/accessibility-statement",
                        text: "Accessibility",
                        attributes:
                        {
                            target: "_blank"
                        }
                    },

                    {
                        href: "/cookies?cookiesaccepted=false&cookiesrejected=false&",
                        text: "Cookies"
                    },


                    {
                         href: "/manage-prototype",
                         text: "Manage your prototype"
                    },

                    {
                         href: "/manage-prototype/clear-data",
                         text: "Clear data"
                    },

                    {
                        href: "/prototype-admin/view-data",
                        text: "View data",
                        attributes:
                        {
                          target: "_blank"
                        }
                    },

                    {
                        href: "#",
                        text: "Share page",
                        attributes:
                        {
                            onclick: "reloadpagewithsessionupdate()"
                        }
                    }
                ],

                visuallyHiddenTitle: "Footer links"

            },

            containerClasses: "layout-width-container--full"

        })
}}







<script>
    function reloadpagewithsessionupdate()
    {
        // get the url of this page
        var fullURL = window.location.href;
        var urlwithoutparameters = fullURL;

        // when the url has parameters in it
        if( fullURL.includes("?") )
        {
            // remove everything after the question mark
            urlwithoutparameters = fullURL .split('?')[0]
        }

        // get possibly unsubmitted input fields on the page and save them as session data
        // this could be amounts, text fields or dates
        var theUnsavedInputs = "";

        inputs = document.getElementsByTagName('input');
        for (index = 0; index < inputs.length; ++index)
        {
            // if input field is a radio button we need to save only the selected one
            if( inputs[index].classList.contains('govuk-radios__input') )
            {
                // see if this radio button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as "Yes"
                    var nameOfRadioButton = inputs[index].name;
                    theUnsavedInputs = theUnsavedInputs + nameOfRadioButton + "=" + inputs[index].value + "&";
                }
            }
            // if the field is a checkbox
            else if( inputs[index].classList.contains('govuk-checkboxes__input') )
            {
                var nameOfcheckboxButton = inputs[index].id;
                // see if this checkbox button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as the value, likely "yes"
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=" + inputs[index].value + "&";
                }
                // if the checkbox isn't checked then record that as well.
                else
                {
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=null&";
                }
            }
            else
            {
                theUnsavedInputs = theUnsavedInputs + inputs[index].id + "=" + inputs[index].value + "&";
                //alert(theUnsavedInputs);
            }


        }

        location.replace("/prototype-admin/update-session-data?redirecturl=" +  urlwithoutparameters + "&" + theUnsavedInputs);
    }
</script>
{% endblock %}