{% extends "layouts/v3_0_3_registration.html" %}
{% set serviceName = "Get permission to move animals under disease controls" %}

{% set pageHeading = "Register for a Defra Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-l">
                {{ pageHeading }}
            </h1>
        </div>


        <p class="govuk-body">With a Defra account, you can:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>save time on future applications by reusing information you have already told Defra</li>
            <li>access and manage Defra’s online services</li>
            <li>add and manage team members in your business</li>
            <li>use services on behalf of businesses you represent</li>
        </ul>



        <h2 class="govuk-heading-m">Using and sharing your information</h2>

        <p class="govuk-body">To find out how we use, process and store your personal information, read our <a href="#" target="_blank" >Privacy notice (opens in new tab)</a>.</p>


        <form method="post" action="terms-and-conditions">

            {{ govukButton({
                text: "Continue"
            })}}
        </form>    

    </div>
</div>

{% endblock %}
