{% extends "layouts/v3_0_3_registration.html" %}
{% set serviceName = "Get permission to move animals under disease controls" %}

{% set pageHeading = "Register for a Defra Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-l">
                {{ pageHeading }}
            </h1>
        </div>


        <p class="govuk-body">Registering for a Defra account means your application will be processed quicker. </p>
        <p class="govuk-body">You can also:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>log in to all Defra services using the same log in details</li>
      <li>save time on future applications as the information you have given us will auto populate</li>
      <li>update your details and they’ll automatically update across the Defra services you use</li>
      <li>track the status of your applications</li>
      <li>check who is assigned to process your application</li>
      <li>auto renew licences</li>
      <li>automatically find out if you are eligible for grants or business-related benefits</li>
      <li>access curated guidance related to your applications</li>
      <li>subscribe to notifications about your application and topics you are interested in</li>
      <li>receive messages from Defra if further application information is needed</li>
      <li>set reminders</li>
      <li>access and store your licences and documents in one secure place</li>
      <li>view and manage how your information is shared across Defra services</li>
      <li>view your account history</li>
    </ul>


    <p class="govuk-body"> If you have a business, you can also: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>add and manage other employees’ access to your account</li>
      <li>delegate authority to employees and set their permissions</li>
      <li>check if your business is compliant with Defra policies</li>
      <li>integrate with industry software</li>
    </ul>


        <form method="post" action="terms-and-conditions">

            {{ govukButton({
                text: "Continue"
            })}}
        </form>    

    </div>
</div>

{% endblock %}
