{% extends "layouts/v3_0_1.html" %}

{% set pageName="Home" %}

{% set loggedout = "true" %}
{% set backlinkoff = "true" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">
            <h1 class="gem-c-title__text govuk-heading-l">
                Move animals under disease controls
            </h1>
        </div>


        <p class="govuk-body">Use this service to apply for a movement licence during a foot and mouth disease outbreak.</p>


        <h2 class="govuk-heading-m">What you can apply for</h2>

        <p class="govuk-body">You can use this service to apply for a licence to:</p>


        <ul class="govuk-list govuk-list--bullet">
            <li>move live animals to slaughter on or off your farm or premises</li>
            <li>move carcasses</li>
            <li>move milk products</li>
        </ul>


        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">APHA need these details to process your application:</p>


        <ul class="govuk-list govuk-list--bullet">
            <li>details about the origin, including who is responsible for the farm or premises</li>
            <li>ID numbers if you are moving animals</li>
            <li>reason and dates for the movement</li>
        </ul>



        <a class="gem-c-button govuk-button govuk-button--start " role="button" rel="external" data-module="govuk-button" draggable="false"
           href="task-list">
            Start now
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>


        <h3 class="govuk-heading-m">Using and sharing your information</h3>

        <p class="govuk-body">
          How we use your personal data is set out in the
          <a href="https://www.gov.uk/government/publications/animal-and-plant-heath-agency-privacy-notices/exotic-notifiable-and-reportable-diseases-privacy-notice#:~:text=APHA%20may%20share%20data%20with,is%20identified%20at%20the%20laboratory." class="govuk-link" target="_blank">exotic, notifiable and reportable diseases privacy notice (opens in
            a new tab)</a>
          .
        </p>


        <h3 class="govuk-heading-m">Get help</h3>

        <p class="govuk-body">If you need help using the service you can call 03000 200 301.
            Lines are open from Monday to Friday between 8.30am and 5pm.</p>



    </div>


</div>




{% endblock %}
