{% extends "layouts/v4_0_0.html" %}

{% set loggedout = "true" %}


{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Privacy Policy
        </h1>

        <p class="govuk-body">The privacy notice covers all of Animal and Plant Health Agency’s work.</p>

        <p class="govuk-body">More detailed information on how we manage personal data for each of our functions is included within
            <a href="https://www.gov.uk/government/publications/animal-and-plant-heath-agency-privacy-notices" class="govuk-link">individual privacy notices</a>.
        </p>


        <h2 class="govuk-heading-m">Your data is being collected by</h2>


        <p class="govuk-body">The data controller is the Department for Environment, Food and Rural Affairs (Defra) for personal data that you give to the Animal and Plant Health Agency (<abbr title="Animal and Plant Health Agency">APHA</abbr>).</p>

        <p class="govuk-body">
            <abbr title="Animal and Plant Health Agency">APHA</abbr>&nbsp;is an Executive Agency of&nbsp;Defra. You can contact&nbsp;<abbr title="Animal and Plant Health Agency">APHA</abbr>’s Data Protection Manager by email at:
            <a href="mailto:data.protection@defra.gov.uk" class="govuk-link">data.protection@defra.gov.uk</a>.
        </p>

        <p class="govuk-body"><abbr title="Animal and Plant Health Agency">APHA</abbr>&nbsp;also works with the Scottish Government and Welsh Government, who are joint controllers with&nbsp;<abbr title="Animal and Plant Health Agency">APHA</abbr>&nbsp;for any relevant personal data.</p>

        <p class="govuk-body">Any questions about how&nbsp;Defra and <abbr title="Animal and Plant Health Agency">APHA</abbr>&nbsp;are using your personal data and your associated rights should be sent to the above contact.</p>

        <p class="govuk-body">
            The Data Protection Officer responsible for monitoring that&nbsp;Defra and <abbr title="Animal and Plant Health Agency">APHA</abbr>&nbsp;is meeting the requirements of the legislation can be contacted by email at:
            <a href="mailto:defragroupdataprotectionofficer@defra.gov.uk" class="govuk-link">DefraGroupDataProtectionOfficer@defra.gov.uk</a>.
        </p>


        <h2 class="govuk-heading-m">What personal data is collected</h2>

        <p class="govuk-body">
            The personal data collected is made clear in
            <a href="https://www.gov.uk/government/publications/animal-and-plant-heath-agency-privacy-notices" class="govuk-link">individual <abbr title="Animal and Plant Health Agency">APHA</abbr> privacy notices</a>.
            or documentation that collects personal data.
        </p>

        <h2 class="govuk-heading-m">How your data has been obtained</h2>


        <p class="govuk-body">
            We have obtained your data either directly from you or a third party. &nbsp;How your data has been obtained in any particular case is made clear in
            <a href="https://www.gov.uk/government/publications/animal-and-plant-heath-agency-privacy-notices" class="govuk-link">individual <abbr title="Animal and Plant Health Agency">APHA</abbr> privacy notices</a>
            or documentation that collects personal data.
        </p>


        <h2 class="govuk-heading-m">Why <abbr title="Animal and Plant Health Agency">APHA</abbr> is using your data</h2>

        <p class="govuk-body">Personal data is collected and stored to support <abbr title="Animal and Plant Health Agency">APHA</abbr>’s functions which include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>identifying and controlling endemic and exotic diseases and pests in animals, plants and bees, and surveillance of new and emerging pests and diseases</li>
            <li>scientific research</li>
            <li>facilitating international trade in animals, products of animal origin, and plants</li>
            <li>protecting endangered wildlife through licensing and registration</li>
            <li>safeguard animal health and welfare; and protect human health where relevant (zoonoses)</li>
            <li>managing a programme of bee inspections, diagnostics, research and development, and training and advice</li>
            <li>regulating the safe disposal of animal by-products to reduce the risk of potentially dangerous substances entering the food chain</li>
            <li>employee data necessary to support staff management</li>
            <li>the safeguarding of employees, sub-contractors and customers (this may include very limited use of body worn video when necessary)</li>
            <li>for <abbr title="Animal and Plant Health Agency">APHA</abbr>’s statutory functions in relation to plant biosecurity; the environmental release of genetically modified organisms; and in the management of alien and invasive species - specifically for notifiable pests and diseases, imports and export controls, training and for statutory food safety monitoring purposes</li>
        </ul>

        <p class="govuk-body">
            More information about <abbr title="Animal and Plant Health Agency">APHA</abbr> can be found at
            <a href="http://www.gov.uk/apha" class="govuk-link">www.gov.uk/apha</a>.
        </p>



        <h2 class="govuk-heading-m">Your data and Google Analytics
        </h2>

        <p class="govuk-body">Our website uses Google Analytics, a web analytics service provided by Google, to monitor site activity and gather insights into how users interact with our content.</p>

        <p class="govuk-body">This data allows us to understand user behaviour better and implement improvements to enhance your experience on our site. As part of this process, Google Analytics collects certain information, including your IP address. This data helps us determine approximate locations, enabling us to identify potential areas for user research and better tailor our services to meet users’ needs.</p>

        <p class="govuk-body">Please note that the information collected is used solely for analytical and improvement purposes.</p>

        <p class="govuk-body">
            We respect your privacy and are committed to handling your data responsibly. For more information on how Google collects and processes data, please refer to
            <a href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fpolicies.google.com%2F&amp;data=05%7C02%7CAnita.Shargall%40defra.gov.uk%7Cf230a41de471449881f908dd0d609440%7C770a245002274c6290c74e38537f1102%7C0%7C0%7C638681430628301153%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&amp;sdata=jXz9N7Iv69xOSpAVrRO%2F27FP3vsHHRvPYYc%2BmzFLOZA%3D&amp;reserved=0" class="govuk-link">Google’s Privacy &amp; Terms</a>.
        </p>





        <h2 class="govuk-heading-m">The legal basis for processing your data</h2>

        <p class="govuk-body">Legal bases for processing include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller</li>
            <li>for compliance to a legal obligation on the controller</li>
            <li>the performance of a contract to which the data subject is party or in order to take steps at the request of the data subject prior to entering a contract</li>
            <li>you have given us consent to process your data for one or more specified purposes</li>
        </ul>


        <h2 class="govuk-heading-m">Consent to process your data</h2>

        <p class="govuk-body">Where the legal basis for processing your personal data is your consent, you can  opt out at any time and details of how you can do that are made available to you by the team that is processing your personal data.</p>


        <h2 class="govuk-heading-m">A legal or contractual requirement to provide personal data</h2>

        <p class="govuk-body">Sometimes you are legally or contractually required to share personal data by <abbr title="Animal and Plant Health Agency">APHA</abbr>. These situations are made clear in the relevant privacy notices.</p>


        <h2 class="govuk-heading-m">Consequences of not providing the necessary data</h2>

        <p class="govuk-body">For statutory and public interest purposes it is necessary to provide data as stated in the relevant legislation.</p>

        <p class="govuk-body">For contractual based processing, your entrance into a contract with us is voluntary and necessary information is supplied to fulfil that contractual relationship.</p>

        <p class="govuk-body">For consent based processing you have a right to revoke this at any given time.</p>



        <h2 class="govuk-heading-m">Personal data used for automated decision making</h2>

        <p class="govuk-body">The information you provide is not connected with individual decision making, in other words making a decision solely by automated means without any human involvement.</p>



        <h2 class="govuk-heading-m">Personal data fused or automated ‘profiling’ and the consequences of this</h2>

        <p class="govuk-body">The information you provide is not connected with profiling, in other words automated processing of personal data to evaluate certain things about an individual.</p>



        <h2 class="govuk-heading-m">Who <abbr title="Animal and Plant Health Agency">APHA</abbr> shares your data with</h2>

        <p class="govuk-body">Personal data may be made available to local authorities and other public bodies in the UK and EU to meet legal requirements and regulatory and enforcement functions.</p>

        <p class="govuk-body">We may share data with Defra and its agencies, Welsh Government, Scottish Government, Northern Ireland Executive, Food Standards Agency and other official organisations and enforcement authorities.</p>

        <p class="govuk-body">We may share data with other organisations working for us to enable us to carry out our duties.</p>

        <p class="govuk-body">We may have to release information (including personal data and commercial information) under the following legislation:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>UK General Data Protection Regulation (UK <abbr title="General Data Protection Regulation">GDPR</abbr>)</li>
            <li>UK Data Protection Act 2018</li>
            <li>Freedom of Information Act 2000</li>
            <li>Environmental Information Regulations 2004</li>
        </ul>


        <p class="govuk-body">We will not allow any unwarranted breach of confidentiality and we will not act in contravention of our obligations under UK data protection legislation.</p>


        <h2 class="govuk-heading-m">Storing and using personal data outside the UK</h2>

        <p class="govuk-body">A very small percentage of government records containing personal information are selected for permanent preservation at the National Archives. They are made available in accordance with the Freedom of Information Act 2000, as amended by the Data Protection Act 2018.</p>

        <p class="govuk-body">The data you provide will largely not be transferred outside of the UK. On rare occasions, when it is lawful and complementary to our work carried out in the public interest, research data may be transferred securely outside of the UK.</p>



        <h2 class="govuk-heading-m">How long <abbr title="Animal and Plant Health Agency">APHA</abbr> holds personal data for</h2>

        <p class="govuk-body">
            All information with <abbr title="Animal and Plant Health Agency">APHA</abbr> is held in accordance with our retention policy, if you would like more information please contact
            <a href="mailto:enquiries@apha.gov.uk" class="govuk-link">enquiries@apha.gov.uk.</a>.
        </p>

        <p class="govuk-body">In specific circumstances information may be held for longer periods. Examples include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>appeal</li>
            <li>audit activity</li>
            <li>complaint</li>
            <li>irregularity</li>
            <li>legal action</li>
            <li>a formal request for information</li>
            <li>if it sets a precedent</li>
            <li>scientific or historical research purposes</li>
        </ul>



        <h2 class="govuk-heading-m">Your rights</h2>

        <p class="govuk-body">
            Find out about
            <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" class="govuk-link">your rights under data protection law</a>.
        </p>



        <h2 class="govuk-heading-m">Complaints</h2>

        <p class="govuk-body">
            You have the right to lodge a complaint about the use of your personal data at any time with
            <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">Information Commissioner’s Office</a> (ICO – the data protection supervisory authority).
        </p>


        <h2 class="govuk-heading-m">APHA’s personal information charter</h2>

        <p class="govuk-body">
            <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/personal-information-charter" class="govuk-link"><abbr title="Animal and Plant Health Agency">APHA</abbr>’s personal information charter</a> <abbr title="Animal and Plant Health Agency">APHA</abbr> processes personal data.

        </p>

    </div>

</div>
{% endblock %}
